:root, :host {
  --skeleton-opacity: 0.5;
  --skeleton-from: color-mix(in var(--default-color-space), var(--color-body) 50%, var(--color-main));
  --skeleton-to: color-mix(in var(--default-color-space), var(--color-body) 80%, var(--color-main));
}
