.swap {
  display: inline-grid;
  cursor: var(--cursor, pointer);

  > :where(*) {
    transition-property: var(--default-transition-property);
    transition-timing-function: var(--transition-timing-function-in-out);
    transition-duration: var(--default-transition-duration);
    grid-area: 1/-1;
    opacity: 0;
  }

  > [aria-hidden="false"],
  input:not(:checked, :indeterminate) + :where(*),
  input:indeterminate ~ :where(*:nth-last-child(2)),
  input:checked ~ :where(*:last-child) {
    transform: none;
    opacity: 1;
  }
}
