@layer utilities {
  :where(.ui-notice) {
    --color-current: var(--color-accent);
    --ui-notice-bg: rgb(var(--color-accent));
    --ui-notice-py: 1.25rem;
    --ui-notice-px: 1.5rem;
    --ui-notice-font-size: 0.875rem;
    --ui-notice-border-radius: var(--rounded);
    --ui-notice-outline-opacity: 0.1;
    --ui-notice-gap: 1rem;

    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--ui-notice-py) var(--ui-notice-px);
    font-size: var(--ui-notice-font-size);
    border-radius: var(--ui-notice-border-radius);
    color: rgb(var(--color-current));
    gap: var(--ui-notice-gap);

    & :where(hr) {
      --tw-border-opacity: 0.2;
    }

    &::before, &::after {
      position: absolute;
      inset: 0;
      border-radius: var(--ui-notice-border-radius);
      z-index: -1;
      content: "";
    }

    &::before {
      background-color: var(--ui-notice-bg);
      opacity: var(--ui-notice-outline-opacity);
    }

    &::after {
      box-shadow: inset 0 0 0 1px var(--ui-notice-bg);
      opacity: var(--ui-notice-outline-opacity);
    }
  }
}
