@layer utilities {
  :where(.ui-progress) {
    --ui-progress-height: 1rem;
    --ui-progress-border-radius: var(--rounded-full);
    --ui-progress-bg: var(--color-background-200);
    --ui-progress-bg-opacity: 1;

    appearance: none;
    box-shadow: none;
    border: 0;
    height: var(--ui-progress-height);
    border-radius: var(--ui-progress-border-radius);
    background-color: rgb(var(--ui-progress-bg) / var(--ui-progress-bg-opacity));
    color: rgb(var(--color-accent));
    width: 100%;

    &.-sm {
      --ui-progress-height: 0.5rem;
    }

    &.-lg {
      --ui-progress-height: 1.5rem;
    }

    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-webkit-progress-value {
      background-color: currentColor;
      border-radius: var(--ui-progress-radius);
    }

    &::-moz-progress-bar {
      background-color: currentColor;
      border-radius: var(--ui-progress-radius);
    }

    &:indeterminate {
      animation: 1.5s linear 0s forwards infinite move-indeterminate;
      background-image: linear-gradient(to right, currentColor 30%, rgb(var(--ui-progress-bg) / var(--ui-progress-bg-opacity)) 30%);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 150% 150%;
      border-radius: var(--ui-progress-border-radius);

      &::-moz-progress-bar {
        background-color: transparent;
      }
    }
  }
}
