@layer utilities {
  :where(.ui-select) {
    --ui-input-icon-select-icon-font-size: 1.5rem;
    --ui-input-icon-count-r: 2;
    --ui-input-pr: var(--ui-input-icon-offset-r);

    & :where([class^="icon-"]) {
      margin-right: calc(var(--ui-input-icon-font-size) + var(--ui-input-icon-gap));
    }

    &::after {
      width: 1em;
      height: 1em;
      background-color: currentColor;
      content: "";
      position: absolute;
      z-index: 1;
      font-size: var(--ui-input-icon-select-icon-font-size);
      right: calc(var(--ui-input-height) / 4);
      top: calc(var(--ui-input-height) / 2);
      margin-top: calc(var(--ui-input-icon-select-icon-font-size) / 2 * -1);
      will-change: transform;
      transition: transform 200ms;
      mask: var(--icon-angle-down);
      pointer-events: none;
      grid-area: input;
    }
  }
}
