.lib-dialog {
  inset: 0;
  z-index: var(--z-30);
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--lib-ripple-bg, color-mix(in sRGB, var(--color-dark) calc(var(--tw-bg-opacity, 0.8) * 100%), transparent));
  overscroll-behavior: contain;
  display: flex;
  padding: var(--lib-dialog-py, 2rem) var(--lib-dialog-px, 1.5rem);
  transition: var(--transition-background);

  &, &::backdrop {
    visibility: hidden;
  }

  &:not([open]) {
    background-color: transparent;
    pointer-events: none;
  }

  .is-lib-dialog-open & {
    visibility: visible;
  }
}

.is-lib-dialog-open {
  scrollbar-width: none;
  padding-inline-end: var(--lib-dialog-scrollbar-width, 0);

  &::-webkit-scrollbar {
    display: none;
  }
}
