.lib-dialog {
  --lib-ripple-bg: rgb(var(--color-dark-rgb) / var(--tw-bg-opacity, 0.8));
  --lib-dialog-py: 2rem;
  --lib-dialog-px: 1.5rem;
  --lib-dialog-animation-duration: var(--transition-duration);

  inset: 0;
  z-index: var(--z-30);
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--lib-ripple-bg);
  overscroll-behavior: contain;
  display: flex;
  visibility: hidden;
  padding: var(--lib-dialog-py) var(--lib-dialog-px);

  &:not([open]) {
    animation: var(--lib-dialog-animation-duration) ease 0s forwards 1 fade-out;
    pointer-events: none;
  }

  &[open] {
    animation: var(--lib-dialog-animation-duration) ease 0s backwards 1 fade-in;
  }

  .is-lib-dialog-open & {
    visibility: visible;
  }
}

.is-lib-dialog-open {
  overflow: hidden;
  padding-right: var(--lib-dialog-scrollbar-width, 0);
}
