.lib-ripple {
  position: absolute;
  background: var(--lib-ripple-bg, color-mix(in var(--space), var(--color-body) calc(var(--tw-bg-opacity, 0.4) * 100%), transparent));
  border-radius: 50%;
  transform: scale(0);
  animation-duration: var(--lib-ripple-animation-duration, 1s);
  pointer-events: none;
}
