.rating {
  display: flex;
  align-items: center;

  :where(input) {
    inline-size: var(--rating-inline-size);
    block-size: var(--rating-block-size);
    color: var(--rating-color);
    opacity: var(--rating-opacity);
    transition: var(--transition-opacity);
    display: grid;
    box-sizing: content-box;

    &:not(:last-child) {
      border-inline-end-width: var(--rating-gap);
      border-inline-color: transparent;
    }

    &::before {
      mask: var(--rating-icon);
      background-color: currentColor;
      content: "";
    }
  }

  &:has(:checked) input {
    opacity: 1;

    &:where(:checked ~ input) {
      opacity: var(--rating-opacity);
    }
  }

  &:hover input {
    opacity: 1;

    &:hover ~ input {
      opacity: var(--rating-opacity);
    }
  }
}
