:root, :host {
  --ui-switch-width: 3rem;
  --ui-switch-height: 1.5rem;
  --ui-switch-icon-size: 1.125rem;
  --ui-switch-font-weight: var(--font-weight-normal);
  --ui-switch-font-size: var(--font-size-sm);
  --ui-switch-line-height: calc(1em + 0.25rem);
  --ui-switch-gap: 0.75rem;
  --ui-switch-border-radius: var(--radius-full);
  --ui-switch-bg: currentColor;
  --ui-switch-outline-width: 2px;
  --ui-switch-outline-color: currentColor;

  &.dark {
    --ui-switch-bg: var(--color-body-tertiary);
  }
}
