.ui-switch {
  :where(input) {
    transition-property: var(--default-transition-property);
    transition-timing-function: var(--transition-timing-function-in-out);
    transition-duration: var(--default-transition-duration);

    &:where(:required) {
      & + *::after {
        color: var(--color-error);
        content: " *";
      }
    }

    &:enabled:focus {
      --ui-switch-outline-offset: var(--ui-switch-focus-outline-offset);
      --tw-outline-opacity: 0.4;
    }

    &:disabled {
      opacity: var(--ui-switch-disabled-opacity);
      cursor: not-allowed;
    }

    &:checked {
      --ui-switch-outline-color: var(--color-accent);
      --ui-switch-bg: var(--color-accent);

      &::before {
        margin-inline-start: calc(100% - var(--ui-switch-icon-size));
      }
    }

    &:indeterminate {
      &::before {
        margin-inline-start: calc(50% - var(--ui-switch-icon-size) / 2);
      }
    }
  }
}
