:root, :host {
  --x-control-height: 3rem;
  --x-control-height-textarea: 8rem;
  --x-control-padding-inline: 0.75rem;
  --x-control-padding-block: 0.75rem;
  --x-control-border-width: 1px;
  --x-control-border-radius: var(--radius);
  --x-control-border-color: currentColor;
  --x-control-font-weight: var(--font-weight-medium);
  --x-control-font-size: var(--font-size-base);
  --x-control-background-color: transparent;
  --x-control-color: currentColor;
  --x-control-outline-width: 3px;
  --x-control-placeholder-color: currentColor;
  --x-control-placeholder-opacity: 50%;
}
