:root, :host {
  --control-height: 3rem;
  --control-height-textarea: 8rem;
  --control-padding-inline: 0.75rem;
  --control-padding-block: 0.75rem;
  --control-border-width: 1px;
  --control-border-radius: var(--radius);
  --control-border-color: currentColor;
  --control-font-weight: var(--font-weight-medium);
  --control-font-size: var(--font-size-sm);
  --control-background-color: transparent;
  --control-color: currentColor;
  --control-outline-width: 3px;
  --control-placeholder-color: currentColor;
  --control-placeholder-opacity: 50%;
}
