:root,
:host {
  --x-control-select-picker-border-width: 1px;
  --x-control-select-picker-border-radius: var(--radius-lg);
  --x-control-select-picker-border-color: currentcolor;
  --x-control-select-picker-background-color: var(--color-body-primary);
  --x-control-select-picker-margin-block: 0.375rem;
  --x-control-select-picker-padding-block: 0.375rem;
  --x-control-select-picker-padding-inline: 0.375rem;
  --x-control-select-picker-gap: 0.25rem;
  --x-control-select-picker-scrollbar-color: currentcolor var(--color-body-primary);
  --x-control-select-option-padding-block: 0.75rem;
  --x-control-select-option-padding-inline: 0.75rem;
  --x-control-select-option-border-radius: var(--radius-md);
  --x-control-select-option-hocus-background-color: var(--color-body-secondary);
}
