:root, :host {
  --x-notice-padding-block: 1.25rem;
  --x-notice-padding-inline: 1.5rem;
  --x-notice-font-size: var(--text-sm);
  --x-notice-border-radius: var(--radius);
  --x-notice-outline-width: 1px;
  --x-notice-outline-offset: calc(var(--x-notice-outline-width, 1px) * -1);
}
