:root, :host {
  --notice-padding-block: 1.25rem;
  --notice-padding-inline: 1.5rem;
  --notice-font-size: var(--font-size-sm);
  --notice-border-radius: var(--radius);
  --notice-outline-width: 1px;
  --notice-outline-offset: calc(var(--notice-outline-width, 1px) * -1);
}
