{
  "extends": [
    "@stylistic/stylelint-config",
    "stylelint-config-standard"
  ],
  "rules": {
    "@stylistic/selector-list-comma-newline-after": "always-multi-line",
    "@stylistic/max-line-length": 240,
    "at-rule-no-unknown": [true, {"ignoreAtRules": ["layer", "tailwind"]}],
    "length-zero-no-unit": [true, {"ignore": ["custom-properties"]}],
    "value-keyword-case": ["lower", { "camelCaseSvgKeywords": true }],
    "property-no-vendor-prefix": [true, { "ignoreProperties": "appearance" }],
    "number-max-precision": [4, { "ignoreProperties": "letter-spacing" }],
    "import-notation": "string",
    "alpha-value-notation": ["percentage"]
  },
  "ignoreFiles": ["**/+.css", "dist/**/*.css"]
}
