{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [true, {"ignoreAtRules": ["layer", "tailwind"]}],
    "selector-list-comma-newline-after": "always-multi-line",
    "string-quotes": "double",
    "length-zero-no-unit": [true, {"ignore": ["custom-properties"]}],
    "value-keyword-case": ["lower", { "camelCaseSvgKeywords": true }],
    "alpha-value-notation": "number",
    "property-no-vendor-prefix": [true, { "ignoreProperties": "appearance" }],
    "number-max-precision": [4, { "ignoreProperties": "letter-spacing" }],
    "max-line-length": 240,
    "import-notation": null,
    "no-duplicate-selectors": null
  },
  "ignoreFiles": ["**/+.css", "dist/**/*.css"]
}
