{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "at-rule-no-unknown": [true, {"ignoreAtRules": ["layer", "tailwind"]}],
    "length-zero-no-unit": [true, {"ignore": ["custom-properties"]}],
    "value-keyword-case": ["lower", { "camelCaseSvgKeywords": true }],
    "property-no-vendor-prefix": [true, { "ignoreProperties": "appearance" }],
    "number-max-precision": [4, { "ignoreProperties": "letter-spacing" }],
    "import-notation": "string",
    "no-duplicate-selectors": null
  },
  "ignoreFiles": ["**/+.css", "dist/**/*.css"]
}
