:root, :host {
  --check-color-primary: currentColor;
  --check-color-secondary: transparent;
  --check-color-size: 1.5rem;
  --check-color-border-radius: var(--radius-full);
  --check-color-outline-width: 1px;
}
