:root, :host {
  --x-card-background-color: var(--color-body-primary);
  --x-card-border-radius: var(--radius-2xl);
  --x-card-padding-block: calc(var(--spacing) * 6);
  --x-card-padding-inline: calc(var(--spacing) * 7);
}
