.button {
  transition-property: var(--transition-property-default);
  transition-timing-function: var(--transition-timing-function-in-out);
  transition-duration: var(--default-transition-duration);

  &:where(.accent-main), &:where(.accent-body), &:where(.accent-light), &:where(.accent-dark) {
    --button-hover-background-color-mix: var(--color-accent-foreground);
  }

  &:is(button, input, :any-link, [role="button"]) {
    &:active, &:checked, &[data-active] {
      --button-background-color: var(--button-hover-background-color, var(--color-accent));
      --button-background-color-mix: var(--button-active-background-color-mix);
      --button-background-color-opacity: var(--button-active-background-color-opacity);
      --button-border-color: var(--button-active-border-color, var(--color-accent));
      --button-border-color-mix: var(--button-active-border-color-mix, transparent);
      --button-border-color-opacity: var(--button-active-border-color-opacity, 100%);
      --button-color: var(--button-active-color, var(--color-accent-foreground));
      --button-color-mix: var(--button-active-color-mix, transparent);
      --button-color-opacity: var(--button-active-color-opacity, 100%);
    }

    &:hover {
      --button-background-color: var(--button-hover-background-color, var(--color-accent));
      --button-background-color-mix: var(--button-hover-background-color-mix);
      --button-background-color-opacity: var(--button-hover-background-color-opacity);
      --button-border-color: var(--button-hover-border-color, var(--color-accent));
      --button-border-color-mix: var(--button-hover-border-color-mix, transparent);
      --button-border-color-opacity: var(--button-hover-border-color-opacity, 100%);
      --button-color: var(--button-hover-color, var(--color-accent-foreground));
      --button-color-mix: var(--button-hover-color-mix, transparent);
      --button-color-opacity: var(--button-hover-color-opacity, 100%);
    }

    &:focus {
      --button-outline-offset: var(--button-focus-outline-offset);
      --button-outline-color: var(--button-focus-outline-color, var(--color-accent));
      --button-outline-color-opacity: var(--button-focus-outline-color-opacity);
    }

    &:disabled {
      --button-background-color: var(--button-disabled-background-color, var(--color-accent));
      --button-background-color-mix: var(--button-disabled-background-color-mix, transparent);
      --button-background-color-opacity: var(--button-disabled-background-color-opacity, 50%);
      --button-border-color: var(--button-disabled-border-color, var(--color-accent));
      --button-border-color-mix: var(--button-disabled-border-color-mix, transparent);
      --button-border-color-opacity: var(--button-disabled-border-color-opacity, 50%);
      --button-color: var(--button-disabled-color, var(--color-accent-foreground));
      --button-color-mix: var(--button-disabled-color-mix, transparent);
      --button-color-opacity: var(--button-disabled-color-opacity, 50%);
    }
  }
}
