.button:is(.muted) {
  --button-disabled-background-color-opacity: 5%;
  --button-disabled-background-color-mix: transparent;
  --button-disabled-color: var(--color-accent);
  --button-active-background-color-opacity: 30%;
  --button-active-background-color-mix: transparent;
  --button-active-color: var(--color-accent);
  --button-hover-background-color-opacity: 20%;
  --button-hover-background-color-mix: transparent;
  --button-hover-color: var(--color-accent);
  --button-focus-outline-offset: -2px;
  --button-color: var(--color-accent);
  --button-background-color-opacity: 10%;
}
