:root, :host {
  --x-badge-border-width: 0px;
  --x-badge-border-radius: var(--radius-lg);
  --x-badge-font-size: var(--text-xs);
  --x-badge-gap: calc(var(--spacing) * 1);
  --x-badge-block-size: 1.5rem;
  --x-badge-padding-block: 0;
  --x-badge-padding-inline: 0.5rem;
}
