.color {
  :where(input) {
    transition-property: var(--default-transition-property);
    transition-timing-function: var(--transition-timing-function-in-out);
    transition-duration: var(--default-transition-duration);

    &:where(:disabled) {
      cursor: not-allowed;

      &::before, &::after {
        opacity: var(--color-disabled-opacity);
      }
    }

    &:where(:enabled) {
      &:is(:hover) {
        --tw-border-opacity: 0.3;
      }

      &:is(:focus-visible) {
        --tw-border-opacity: 1;
        --tw-outline-opacity: 0.2;
      }
    }

    &:is(:checked) {
      --tw-border-opacity: 1;
    }
  }
}
