:root, :host {
  --ui-text-content-bold: var(--font-weight-semibold);
  --ui-text-content-my: var(--spacing-xl);
  --ui-text-content-marker-size: 0.375em;
  --ui-text-line-height: calc(1em + 0.75rem);
  --ui-text-hr-my: 3em;
  --ui-text-heading-line-height: calc(1em + 0.375rem);
  --ui-text-heading-my: 1.5em 0.5em;
}
