.ui-text {
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
  font-size: var(--ui-text-font-size);
  line-height: var(--ui-text-line-height);
  letter-spacing: var(--ui-text-letter-spacing);
  text-wrap: pretty;

  & > :is(*:first-child) {
    margin-block-start: 0;
  }

  & > :is(*:last-child) {
    margin-block-end: 0;
  }

  & :where(a) {
    transition: var(--transition-color);
    color: var(--color-accent);
    text-decoration: underline;

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        color: color-mix(in var(--space), var(--color-accent) 75%, transparent);
      }
    }

    &:focus-visible {
      color: color-mix(in var(--space), var(--color-accent) 75%, transparent);
    }
  }

  & :where(b, strong) {
    font-weight: var(--ui-text-content-bold);
  }

  & :where(em) {
    font-style: italic;
  }

  & :where(img) {
    display: block;
    height: auto;
  }

  & :where(p) {
    margin-block: var(--ui-text-content-my);

    &:empty {
      line-height: 0;
      margin: 0;

      &::after {
        content: "\00a0";
      }
    }
  }

  & :where(hr) {
    --tw-border-opacity: 0.1;

    margin-block: var(--ui-text-hr-my);
  }

  & :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--ui-text-heading-font-family);
    font-weight: var(--ui-text-heading-font-weight, var(--ui-text-content-bold));
    font-size: var(--ui-text-heading-font-size);
    line-height: var(--ui-text-heading-line-height);
    letter-spacing: var(--ui-text-heading-letter-spacing);
    margin-block: var(--ui-text-heading-my);
    color: var(--ui-text-heading-color);
    text-wrap: balance;
  }

  & :where(h1) {
    --ui-text-heading-font-size: var(--text-4xl);
  }

  & :where(h2) {
    --ui-text-heading-font-size: var(--text-3xl);
  }

  & :where(h3) {
    --ui-text-heading-font-size: var(--text-2xl);
  }

  & :where(h4) {
    --ui-text-heading-font-size: var(--text-xl);
  }

  & :where(h5) {
    --ui-text-heading-font-size: var(--text-lg);
  }

  & :where(table) {
    border: 0;
    min-width: 100%;

    & :where(td, th) {
      padding: 1em 1.25em;
      text-align: left;
    }

    & :where(thead) {
      font-weight: var(--ui-text-content-bold);
      border-block-end: 1px solid color-mix(in var(--space), currentColor 10%, transparent);
    }

    & :where(tbody tr) {
      &:nth-of-type(even) {
        background-color: color-mix(in var(--space), currentColor 5%, transparent);
      }
    }
  }

  & :where(ol, ul) {
    margin-inline-start: 0.75em;
    padding-inline-start: 1em;
    margin-block: var(--ui-text-content-my);

    & :where(li) {
      margin-block: 0.5em;
      padding-inline-start: 1ch;
    }
  }

  & :where(ol) {
    &:not([type]) {
      list-style: decimal;
    }

    & :where(li) {
      &::marker {
        color: var(--color-accent);
        font-weight: var(--ui-text-content-bold);
      }
    }
  }

  & :where(ul) {
    & :where(li) {
      position: relative;
      list-style-type: "";

      &::before {
        width: var(--ui-text-content-marker-size);
        height: var(--ui-text-content-marker-size);
        position: absolute;
        left: -0.75em;
        top: 0.5lh;
        border: 1px solid var(--color-accent);
        background-color: var(--ui-text-content-marker-bg, var(--color-accent));
        margin-inline-start: calc((var(--ui-text-content-marker-size) / 2) * -1);
        margin-block-start: calc(var(--ui-text-content-marker-size) / 2 * -1);
        border-radius: var(--ui-text-content-marker-radius, 50%);
        mask: var(--ui-text-content-marker-mask);
        will-change: transform;
        content: "";
      }
    }

    &[style*="square"] {
      --ui-text-content-marker-radius: 0;
    }

    &[style*="circle"] {
      --ui-text-content-marker-bg: transparent;
    }
  }

  & :where(blockquote) {
    border-left: 0.375em solid var(--color-accent);
    padding: 0.5em 1.25em;
    margin-block: var(--ui-text-content-my);
    font-size: inherit;
  }

  & :where(code) {
    font-size: 87.5%;
  }

  & :where(figure) {
    margin-block: var(--ui-text-content-my);
  }

  & :where(figcaption) {
    font-size: 87.5%;
    line-height: 1.5;
    font-weight: var(--font-semibold);
    margin-block-start: 0.5em;
  }
}
