@import "winduum/src/base/default.css";
@import "winduum/src/base/breakpoints.css";
@import "winduum/src/base/config.css";
@import "winduum/src/base/icons.css";
@import "winduum/src/base/keyframes.css";
@import "winduum/src/base/theme/default-rgb.css";
@import "winduum/src/base/theme/default.css";
@import "winduum/src/base/theme/dark-rgb.css";
@import "winduum/src/base/theme/dark.css";
@import "winduum/src/tailwind.css";

:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}


body {
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.lit:hover {
  filter: drop-shadow(0 0 2em #325cffaa);
}
