.tabs {
  background-color: var(--tabs-background-color, var(--color-body-secondary));
  gap: var(--tabs-gap, var(--spacing-xs));
  padding: var(--tabs-padding, var(--spacing-xs));
  border-radius: var(--tabs-border-radius, var(--radius));
  display: flex;
  inline-size: max-content;
}
