.ui-control {
  --ui-control-color-swatch-width: 1.25rem;
  --ui-control-color-swatch-height: 1.25rem;
  --ui-control-color-swatch-border-radius: var(--rounded-full);

  & :where(input) {
    &::-webkit-color-swatch-wrapper {
      width: var(--ui-control-color-swatch-width);
      height: var(--ui-control-color-swatch-height);
      padding: 0;
    }

    &::-moz-color-swatch {
      width: var(--ui-control-color-swatch-width);
      height: var(--ui-control-color-swatch-height);
      border-radius: var(--ui-control-color-swatch-border-radius);
      margin: 0;
    }

    &::-webkit-color-swatch {
      border-radius: var(--ui-control-color-swatch-border-radius);
    }

    &[type="color"] ~ label {
      margin-inline-start: calc(var(--ui-control-px) + var(--ui-control-color-swatch-width));
    }
  }
}
