.ui-control {
  --ui-control-height: 3rem;
  --ui-control-height-textarea: 8rem;
  --ui-control-px: 0.75rem;
  --ui-control-ps: 0rem;
  --ui-control-pe: 0rem;
  --ui-control-bg: transparent;
  --ui-control-color: currentColor;
  --ui-control-placeholder-color: currentColor;
  --ui-control-placeholder-opacity: 0.5;
  --ui-control-font-size: 0.875rem;
  --ui-control-font-weight: var(--font-medium);
  --ui-control-border-width: 1px;
  --ui-control-border-color: var(--color-current);
  --ui-control-border-mix: transparent;
  --ui-control-border-opacity: 15%;
  --ui-control-border-radius: var(--rounded);
  --ui-control-outline-width: 3px;
  --ui-control-outline-offset: 0;
  --ui-control-outline-opacity: 20%;
  --ui-control-disabled-opacity: 5%;
  --ui-control-invalid-bg-opacity: 10%;

  display: grid;
  grid-template-areas: "body";
  position: relative;
  font-size: var(--ui-control-font-size);
  border-radius: var(--ui-control-border-radius);
  background-color: var(--ui-control-bg);
  transition:
    var(--transition-border),
    outline-color var(--transition-duration),
    outline-offset var(--transition-duration);
  font-weight: var(--ui-control-font-weight);
  color: var(--ui-control-color);
  border: var(--ui-control-border-width) solid color-mix(in sRGB, var(--ui-control-border-color) var(--ui-control-border-opacity), var(--ui-control-border-mix));
  outline: var(--ui-control-outline-width) solid transparent;
  outline-offset: 0;
  height: var(--ui-control-height);

  &:has(textarea) {
    height: auto;
  }

  &:has(:disabled) {
    cursor: not-allowed;
    background-color: color-mix(in sRGB, var(--color-current) var(--ui-control-disabled-opacity), var(--ui-control-bg));
  }

  & > * {
    grid-area: body;
  }

  & :where(input, textarea, select) {
    place-self: stretch;
    padding-top: var(--ui-control-pt, 0);
    padding-inline: calc(var(--ui-control-px) + var(--ui-control-ps)) calc(var(--ui-control-px) + var(--ui-control-pe));
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  & :where(input, textarea) {
    &::placeholder {
      color: var(--ui-control-placeholder-color);
      opacity: var(--ui-control-placeholder-opacity);
    }
  }

  & :where(textarea) {
    resize: vertical;
    min-height: var(--ui-control-height-textarea);
  }

  &:focus-within {
    --ui-control-border-opacity: 100%;
    --ui-control-border-color: var(--color-accent);

    outline-color: color-mix(in sRGB, var(--color-accent) var(--ui-control-outline-opacity), transparent);
    outline-offset: var(--ui-control-outline-offset);
  }

  &.invalid, .validated &:has(:invalid) {
    --ui-control-border-opacity: 100%;
    --ui-control-border-color: var(--color-error);
    --ui-control-color: var(--color-error);
    --color-accent: var(--color-error);

    background-color: color-mix(in sRGB, var(--color-error) var(--ui-control-invalid-bg-opacity), var(--ui-control-bg));
  }
}
