:root, :host {
  --ui-control-height: 3rem;
  --ui-control-height-textarea: 8rem;
  --ui-control-px: 0.75rem;
  --ui-control-py: 0.75rem;
  --ui-control-border-width: 1px;
  --ui-control-font-weight: var(--font-weight-medium);
  --ui-control-font-size: var(--font-size-sm);
  --ui-control-bg: transparent;
  --ui-control-color: currentColor;
  --ui-control-border-radius: var(--radius);
  --ui-control-border-color: currentColor;
  --ui-control-outline-width: 3px;
  --ui-control-placeholder-color: currentColor;
  --ui-control-placeholder-opacity: 0.5;
}
