.ui-control {
  --ui-control-border-color: var(--color-current-rgb);

  border: var(--ui-control-border-width) solid rgb(var(--ui-control-border-color, var(--color-current-rgb)) / var(--ui-control-border-opacity, 15%));

  &:has(:disabled) {
    background-color: rgb(var(--color-main-rgb) / var(--ui-control-disabled-opacity, 5%));
  }

  &:focus-visible {
    --ui-control-border-color: var(--color-accent-rgb);

    outline-color: rgb(var(--color-accent-rgb) / var(--ui-control-outline-opacity, 20%));
  }

  &.invalid, .validated &:has(:invalid) {
    --ui-control-border-color: var(--color-error-rgb);
    --color-accent-rgb: var(--color-error-rgb);

    background-color: rgb(var(--color-error-rgb) / var(--ui-control-invalid-bg-opacity, 10%));
  }
}
