.ui-control {
  --ui-control-height: 3rem;
  --ui-control-height-textarea: 8rem;
  --ui-control-pt-floating: 1.25rem;
  --ui-control-pb-floating: 0.4375rem;
  --ui-control-py: 0.875rem;
  --ui-control-px: 0.875rem;
  --ui-control-pl: var(--ui-control-px);
  --ui-control-pr: var(--ui-control-px);
  --ui-control-bg: var(--color-body);
  --ui-control-color: currentColor;
  --ui-control-placeholder-color: currentColor;
  --ui-control-placeholder-opacity: 0.5;
  --ui-control-font-size: 0.875rem;
  --ui-control-font-weight: var(--font-medium);
  --ui-control-border-width: 1px;
  --ui-control-border-color: var(--color-current);
  --ui-control-border-mix: transparent;
  --ui-control-border-opacity: 15%;
  --ui-control-border-radius: var(--rounded);
  --ui-control-outline-width: 3px;
  --ui-control-outline-offset: 0;
  --ui-control-outline-opacity: 20%;
  --ui-control-disabled-opacity: 5%;
  --ui-control-error-opacity: 10%;

  display: grid;
  grid-template-areas: "input";
  font-size: var(--ui-control-font-size);
  position: relative;
  border-radius: var(--ui-control-border-radius);

  & :where(input, textarea, select) {
    grid-area: input;
    background-clip: padding-box;
    background-color: var(--ui-control-bg);
    padding: var(--ui-control-py) var(--ui-control-pr) var(--ui-control-py) var(--ui-control-pl);
    transition:
      var(--transition-border),
      outline-color var(--transition-duration),
      outline-offset var(--transition-duration);
    line-height: normal;
    font-size: inherit;
    height: var(--ui-control-height);
    font-weight: var(--ui-control-font-weight);
    border-radius: inherit;
    color: var(--ui-control-color);
    border: var(--ui-control-border-width) solid color-mix(in sRGB, var(--ui-control-border-color) var(--ui-control-border-opacity), var(--ui-control-border-mix));
    outline: var(--ui-control-outline-width) solid transparent;
    outline-offset: 0;

    &:focus {
      --ui-control-border-opacity: 100%;
      --ui-control-border-color: var(--color-accent);

      outline-color: color-mix(in sRGB, var(--color-accent) var(--ui-control-outline-opacity), transparent);
      outline-offset: var(--ui-control-outline-offset);
    }

    &:disabled {
      cursor: not-allowed;
      background-color: color-mix(in sRGB, var(--color-base) var(--ui-control-disabled-opacity), var(--ui-control-bg));
    }

    &:required ~ label {
      &::after {
        color: var(--color-error);
        content: " *";
      }
    }
  }

  & :where(input, textarea) {
    &::placeholder {
      color: var(--ui-control-placeholder-color);
      opacity: var(--ui-control-placeholder-opacity);
    }
  }

  & :where(textarea) {
    resize: vertical;
    overflow: hidden;
    min-height: var(--ui-control-height-textarea);
  }

  &.invalid, .validated & :where(input, textarea, select):invalid {
    --ui-control-border-opacity: 100%;
    --ui-control-border-color: var(--color-error);
    --ui-control-color: var(--color-error);
    --color-accent: var(--color-error);

    background-color: color-mix(in sRGB, var(--color-error) var(--ui-control-error-opacity), var(--ui-control-bg));
  }
}
