.ui-control {
  --ui-control-outline-color: var(--color-accent);
  --tw-bg-opacity: 1;
  --tw-bg-mix: transparent;
  --tw-border-opacity: 0.15;
  --tw-border-mix: transparent;
  --tw-outline-opacity: 0;
  --tw-outline-mix: transparent;

  display: grid;
  block-size: var(--ui-control-height);
  font-family: var(--ui-control-font-family);
  font-weight: var(--ui-control-font-weight);
  font-size: var(--ui-control-font-size);
  letter-spacing: var(--ui-control-letter-spacing);
  background-color: color-mix(in var(--default-color-space), var(--ui-control-bg) calc(var(--tw-bg-opacity) * 100%), var(--tw-bg-mix));
  color: var(--ui-control-color);
  border-radius: var(--ui-control-border-radius);
  border:
    var(--ui-control-border-width) solid
    color-mix(
      in var(--default-color-space),
      var(--ui-control-border-color) calc(var(--tw-border-opacity) * 100%),
      var(--tw-border-mix)
    );
  outline:
    var(--ui-control-outline-width) solid
    color-mix(
      in var(--default-color-space),
      var(--ui-control-outline-color) calc(var(--tw-outline-opacity) * 100%),
      var(--tw-outline-mix)
    );
  outline-offset: var(--ui-control-outline-offset);
  grid-template:
    [c-control-start] calc(var(--ui-control-py) - var(--ui-control-border-width))
    [c-control-p] 1fr
    calc(var(--ui-control-py) - var(--ui-control-border-width)) [c-control-end] /
    [c-control-start] var(--ui-control-px)
    [c-control-p] 1fr
    var(--ui-control-px) [c-control-end];

  &:has(textarea) {
    height: auto;
  }

  > :where(*) {
    grid-area: c-control-p;
    align-self: center;
  }

  > :where(input, textarea, select) {
    padding-block: var(--ui-control-py);
    padding-inline: calc(var(--ui-control-px) + var(--ui-control-ps, 0rem)) calc(var(--ui-control-px) + var(--ui-control-pe, 0rem));
    grid-area: c-control;
    text-overflow: ellipsis;
    overflow: clip;
    align-self: stretch;
    align-items: center;
    border-radius: inherit;

    &:disabled {
      cursor: not-allowed;
    }
  }

  > :where(input, textarea) {
    &::placeholder {
      color: var(--ui-control-placeholder-color);
      opacity: var(--ui-control-placeholder-opacity);
    }
  }

  > :where(textarea) {
    min-block-size: var(--ui-control-height-textarea);
    resize: vertical;
  }
}
