.ui-control {
  --ui-control-border-color: var(--color-current-rgb);

  & :where(input, textarea, select) {
    border: var(--ui-control-border-width) solid rgb(var(--ui-control-border-color) / var(--ui-control-border-opacity));

    &:focus {
      --ui-control-border-color: var(--color-accent-rgb);
    }
  }

  &.invalid, .validated & :where(input, textarea, select):invalid {
    --ui-control-border-color: var(--color-error-rgb);
    --color-accent-rgb: var(--color-error-rgb);

    background-color: rgb(var(--color-error-rgb) / var(--ui-control-error-opacity));
  }
}
