.ui-control:where(:has([type="file"])) {
  overflow: clip;

  > :where([type="file"]) {
    --color-accent: currentColor;
    --tw-bg-opacity: 0.15;

    &::file-selector-button {
      all: unset;
      background-color: color-mix(in var(--tw-bg-space), var(--color-accent) calc(var(--tw-bg-opacity) * 100%), transparent);
      block-size: calc(var(--ui-control-height) - var(--ui-control-border-width) * 2);
      padding-inline: var(--ui-control-px);
      margin-inline: calc(var(--ui-control-px) * -1) var(--ui-control-px);
      margin-block-start: calc(var(--ui-control-py) * -1);
      border-start-end-radius: var(--ui-control-border-radius, var(--rounded));
      border-end-end-radius: var(--ui-control-border-radius, var(--rounded));
      transition: var(--transition-background);
      cursor: pointer;
    }

    &:is(:hover, :focus) {
      --tw-bg-opacity: 0.2;
    }
  }
}
