.ui-control:has([type="file"]) {
  :where([type="file"]) {
    &:is(:hover, :focus) {
      --ui-control-file-selector-button-bg-opacity: 20%;
    }

    &::file-selector-button {
      all: unset;
      background-color: color-mix(in sRGB, var(--color-current) var(--ui-control-file-selector-button-bg-opacity, 15%), transparent);
      height: calc(var(--ui-control-height) - var(--ui-control-border-width) * 2);
      padding-inline: var(--ui-control-px);
      margin-inline: calc(var(--ui-control-px) * -1) var(--ui-control-px);
      margin-block-start: calc(var(--ui-control-py) * -1);
      border-radius: var(--ui-control-border-radius, var(--rounded));
      transition: var(--transition-background);
      cursor: pointer;
    }
  }
}
