.ui-control:has([type="file"]) {
  overflow: hidden;

  :where([type="file"]) {
    --file-selector-button-bg-opacity: 15%;

    &:is(:hover, :focus) {
      --file-selector-button-bg-opacity: 20%;
    }

    &::file-selector-button {
      all: unset;
      background-color: color-mix(in sRGB, var(--color-current) var(--file-selector-button-bg-opacity), transparent);
      height: calc(var(--ui-control-height) - var(--ui-control-border-width) * 2);
      padding: 0 1rem;
      margin-right: var(--ui-control-px);
      border-top-right-radius: var(--rounded);
      border-bottom-right-radius: var(--rounded);
      cursor: pointer;
      margin-top: calc(var(--ui-control-py) * -1);
      margin-left: calc(var(--ui-control-px) * -1);
      transition: var(--transition-background);
    }
  }
}
