.ui-control:where(.floating) {
  --ui-control-placeholder-color: transparent;

  & :where(input, textarea, select) {
    &:is(:focus, :not(:placeholder-shown)) ~ label {
      transform: var(--ui-control-floating-label-focus-transform);
      opacity: var(--ui-control-floating-label-focus-opacity);
    }
  }
}
