.ui-control:where(:has(:not([type="color"]) ~ label)) {
  --ui-control-label-translate-y: 0.625rem;
  --ui-control-label-scale: 0.8;

  & :where(label) {
    pointer-events: none;
    transition: var(--transition-transform), var(--transition-color), var(--transition-opacity);
    transform-origin: 0 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
    will-change: transform;
    margin-inline: var(--ui-control-ps, 0) var(--ui-control-pe, 0);
  }

  &:where(:has(:required)) :where(label)::after {
    color: var(--color-error);
    content: " *";
  }

  & :where(textarea) {
    padding-block-start: calc(var(--ui-control-py) + var(--ui-control-label-translate-y) * var(--ui-control-label-scale));

    & + :where(label) {
      margin-block-start: var(--ui-control-py);
    }
  }

  & :where(input, select) {
    padding-block: calc(var(--ui-control-py) + var(--ui-control-label-translate-y) * var(--ui-control-label-scale)) calc(var(--ui-control-py) - var(--ui-control-label-translate-y) * var(--ui-control-label-scale));

    &::-webkit-calendar-picker-indicator,
    &::-webkit-search-cancel-button,
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      transform: translateY(calc(var(--ui-control-label-translate-y) * var(--ui-control-label-scale) * -1));
    }
  }
}
