.ui-control:has(:not([type="color"]) ~ label) {
  --ui-control-label-translate-y: 0.625rem;
  --ui-control-label-scale: 0.8;
  --ui-control-placeholder-color: transparent;

  & :where(input, textarea, select) {
    &:is(:focus, :not(:placeholder-shown)) {
      padding-block: calc(var(--ui-control-py) * var(--ui-control-label-scale) + var(--ui-control-label-translate-y)) calc(var(--ui-control-py) - var(--ui-control-label-translate-y));

      ~ label {
        transform: translateY(calc(var(--ui-control-label-translate-y) * -1)) scale(var(--ui-control-label-scale));
        opacity: var(--ui-control-label-focus-opacity, 50%);
      }
    }
  }
}
