.ui-control {
  --ui-control-s: calc(var(--ui-control-icon-count-s, 1) * (var(--ui-control-icon-size) + var(--ui-control-icon-gap)) - var(--ui-control-icon-gap));
  --ui-control-e: calc(var(--ui-control-icon-count-e, 1) * (var(--ui-control-icon-size) + var(--ui-control-icon-gap)) - var(--ui-control-icon-gap));

  &:has(.me-auto) {
    --ui-control-ps: calc(var(--ui-control-s) + var(--ui-control-px));
  }

  &:has(.ms-auto) {
    --ui-control-pe: calc(var(--ui-control-e) + var(--ui-control-px));
  }

  &:has(.me-auto > *:nth-child(2)) {
    --ui-control-icon-count-s: 2;
  }

  &:has(.ms-auto > *:nth-child(2)) {
    --ui-control-icon-count-e: 2;
  }

  &:has(textarea) {
    :where(.ms-auto), :where(.me-auto) {
      align-self: start;
    }
  }

  :where(.ms-auto), :where(.me-auto) {
    gap: var(--ui-control-icon-gap);
    display: flex;
    align-items: center;
  }
}
