.ui-control {
  --ui-control-s: calc(var(--ui-control-icon-count-s, 1) * (var(--ui-control-icon-size) + var(--ui-control-icon-gap)) - var(--ui-control-icon-gap));
  --ui-control-e: calc(var(--ui-control-icon-count-e, 1) * (var(--ui-control-icon-size) + var(--ui-control-icon-gap)) - var(--ui-control-icon-gap));

  &:has(.start) {
    --ui-control-ps: calc(var(--ui-control-s) + var(--ui-control-px));
  }

  &:has(.end) {
    --ui-control-pe: calc(var(--ui-control-e) + var(--ui-control-px));
  }

  &:has(.start > *:nth-child(2)) {
    --ui-control-icon-count-s: 2;
  }

  &:has(.end > *:nth-child(2)) {
    --ui-control-icon-count-e: 2;
  }

  &:has(textarea) {
    :where(.start), :where(.end) {
      align-self: start;
    }
  }

  :where(.start) {
    margin-inline-end: auto;
  }

  :where(.end) {
    margin-inline-start: auto;
  }

  :where(.start), :where(.end) {
    gap: var(--ui-control-icon-gap);
    display: flex;
    align-items: center;
  }
}
