.ui-control {
  --ui-control-focus-border-color: var(--color-accent);

  transition-property: var(--default-transition-property);
  transition-timing-function: var(--transition-timing-function-in-out);
  transition-duration: var(--default-transition-duration);

  &:focus-within {
    --ui-control-border-color: var(--ui-control-focus-border-color);
    --ui-control-outline-offset: var(--ui-control-focus-outline-offset);
    --tw-border-opacity: var(--ui-control-focus-border-opacity, 1);
    --tw-outline-opacity: var(--ui-control-focus-outline-opacity, 0.2);
  }

  &.disabled, &:has(:where(input, textarea, select):disabled) {
    --ui-control-bg: currentColor;
    --tw-bg-opacity: var(--ui-control-disabled-opacity);
  }
}
