.ui-control {
  &.invalid, &:has(:user-invalid), .validated &:has(:invalid) {
    --ui-control-border-color: var(--ui-control-invalid-border-color, var(--color-error));
    --ui-control-outline-color: var(--ui-control-invalid-outline-color, var(--color-error));
    --ui-control-color: var(--ui-control-invalid-color, var(--color-error));
    --ui-control-bg: var(--ui-control-invalid-bg, var(--color-error));
    --tw-bg-opacity: var(--ui-control-invalid-bg-opacity, 0.1);
    --tw-border-opacity: var(--ui-control-invalid-border-opacity, 1);
  }
}
