.ui-control:has(select) {
  --ui-control-select-icon-sq: 1.5rem;
  --ui-control-select-icon-mr: 0.5rem;

  cursor: pointer;

  &::after {
    content: "";
    width: var(--ui-control-select-icon-sq);
    height: var(--ui-control-select-icon-sq);
    background-color: currentColor;
    mask: var(--icon-angle-down);
    pointer-events: none;
    margin-right: var(--ui-control-select-icon-mr);
  }
}
