.ui-control:has(select) {
  --ui-control-select-icon-size: 1.5rem;
  --ui-control-select-icon-me: -0.25rem;
  --ui-control-pe: calc(var(--ui-control-select-icon-size) + var(--ui-control-select-icon-me));

  &:has(.end) {
    --ui-control-icon-count-e: 2;
  }

  & :where(.end) {
    margin-inline-end: var(--ui-control-select-icon-size);
  }

  &::after {
    content: "";
    width: var(--ui-control-select-icon-size);
    height: var(--ui-control-select-icon-size);
    background-color: currentColor;
    mask: var(--mask-angle-down);
    pointer-events: none;
    grid-area: control-p;
    align-self: center;
    margin-inline: auto var(--ui-control-select-icon-me);
  }
}
