.ui-check {
  --ui-check-width: 1.25rem;
  --ui-check-checked-bg: var(--color-accent);
  --ui-check-icon-width: 1.125rem;

  display: inline-flex;
  align-items: center;
  gap: 0 var(--ui-check-gap, var(--spacing-md));
  font-weight: var(--ui-check-font-weight, var(--font-normal));
  font-size: var(--ui-check-font-size, var(--text-sm));
  line-height: var(--ui-check-line-height, calc(1em + var(--ui-check-line-height-ratio, 0.25lh)));
  letter-spacing: var(--ui-check-letter-spacing, 0);
  text-wrap: balance;

  &:has([type="radio"]) {
    --ui-check-icon: var(--mask-radio);
    --ui-check-radius: 50%;
  }

  & :where(label[for], input) {
    cursor: pointer;
  }

  & :where(a) {
    color: var(--color-accent);
    text-decoration: underline;
  }

  & :where(input) {
    display: flex;
    width: var(--ui-check-width);
    height: var(--ui-check-width);
    background-color: var(--ui-check-bg, color-mix(in sRGB, var(--color-current) var(--ui-check-bg-opacity, calc(var(--tw-bg-opacity, 0) * 100%)), var(--ui-check-bg-mix, transparent)));
    border: var(--ui-check-border-width, 1px) solid color-mix(in sRGB, var(--ui-check-border-color, var(--color-current)) var(--ui-check-border-opacity, calc(var(--tw-border-opacity, 0.2) * 100%)), var(--ui-check-border-mix, transparent));
    border-radius: var(--ui-check-radius, var(--rounded-md));
    user-select: none;
    outline: var(--ui-check-outline-width, 3px) solid transparent;
    outline-offset: 0;
    justify-content: center;
    align-items: center;
    transition:
      var(--transition-border),
      var(--transition-background),
      outline-color var(--duration),
      outline-offset var(--duration);
    cursor: pointer;
    flex-shrink: 0;

    &::before {
      display: block;
      transition: var(--transition-color), var(--transition-opacity), var(--transition-transform);
      color: var(--color-accent-fg);
      content: "";
      background-color: currentColor;
      mask: var(--ui-check-icon, var(--mask-check));
      opacity: 0;
      transform: scale(0);
      will-change: transform;
      width: var(--ui-check-icon-width);
      height: var(--ui-check-icon-width);
    }

    &:where(:required) {
      & + *::after {
        color: var(--color-error);
        content: " *";
      }
    }

    &:not(:disabled) {
      &:is(:hover, :focus-visible) {
        --color-current: var(--ui-check-checked-bg);
        --ui-check-border-color: var(--ui-check-checked-bg);
        --ui-check-border-opacity: 75%;
        --ui-check-bg-opacity: 10%;
      }

      &:focus {
        --ui-check-border-color: var(--ui-check-checked-bg);
        --ui-check-border-opacity: 75%;

        outline-color: color-mix(in sRGB, var(--ui-check-checked-bg) var(--ui-check-outline-opacity, 20%), transparent);
        outline-offset: var(--ui-check-outline-offset, 0);
      }
    }

    &:disabled {
      --ui-check-bg-opacity: 15%;

      cursor: not-allowed;
      opacity: var(--ui-check-disabled-opacity, 50%);
    }

    &:checked {
      --ui-check-border-opacity: 0%;
      --ui-check-bg: var(--ui-check-checked-bg);

      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &.invalid, .validated & :where(input):invalid {
    --color-current: var(--color-error);
    --ui-check-border-color: var(--color-error);
    --ui-check-checked-bg: var(--color-error);
    --ui-check-border-opacity: 100%;
  }
}
