.ui-check {
  --ui-check-bg: var(--color-body-rgb);
  --ui-check-border-color: var(--color-body-current-rgb);
  --ui-check-checked-bg: var(--color-accent-rgb);

  & :where(input) {
    background-color: rgb(var(--ui-check-bg) / var(--ui-check-bg-opacity));
    border: var(--ui-check-border-width) solid rgb(var(--ui-check-border-color) / var(--ui-check-border-opacity));

    &:not(:disabled) {
      &:focus {
        outline-color: rgb(var(--ui-check-checked-bg) / var(--ui-check-outline-opacity));
      }
    }

    &:disabled {
      --ui-check-bg: var(--color-body-current-rgb);
    }

    &:checked {
      background-color: rgb(var(--ui-check-checked-bg));
    }
  }

  &.invalid, .validated & :where(input):invalid {
    --ui-check-bg: var(--color-error-rgb);
    --ui-check-border-color: var(--color-error-rgb);
    --ui-check-checked-bg: var(--color-error-rgb);
  }
}
