.ui-check {
  --ui-check-width: 1.375rem;
  --ui-check-font-size: 0.875rem;
  --ui-check-gap: 0.625rem;
  --ui-check-bg: transparent;
  --ui-check-bg-mix: transparent;
  --ui-check-bg-opacity: calc(var(--tw-bg-opacity, 0.1) * 100%);
  --ui-check-border-color: var(--color-current);
  --ui-check-border-mix: transparent;
  --ui-check-border-opacity: calc(var(--tw-border-opacity, 0.2) * 100%);
  --ui-check-border-width: 1px;
  --ui-check-checked-bg: var(--color-accent);
  --ui-check-radius: 0.5rem;
  --ui-check-icon: var(--icon-check);
  --ui-check-icon-font-size: 1.125rem;
  --ui-check-box-shadow: none;
  --ui-check-outline-width: 3px;
  --ui-check-outline-offset: 0;
  --ui-check-outline-opacity: 20%;
  --ui-check-disabled-opacity: 50%;

  display: flex;
  align-items: center;
  gap: 0 var(--ui-check-gap);
  flex-wrap: wrap;
  width: fit-content;
  font-size: var(--ui-check-font-size);

  &:has([type="radio"]) {
    --ui-check-icon: var(--icon-radio);
    --ui-check-radius: 50%;
  }

  & :where(label[for], input) {
    cursor: pointer;
  }

  & :where(a) {
    color: var(--color-accent);
    text-decoration: underline;
  }

  & :where(input) {
    display: flex;
    width: var(--ui-check-width);
    height: var(--ui-check-width);
    background-color: color-mix(in sRGB, var(--ui-check-bg) var(--ui-check-bg-opacity), var(--ui-check-bg-mix));
    border: var(--ui-check-border-width) solid color-mix(in sRGB, var(--ui-check-border-color) var(--ui-check-border-opacity), var(--ui-check-border-mix));
    border-radius: var(--ui-check-radius);
    user-select: none;
    outline: var(--ui-check-outline-width) solid transparent;
    outline-offset: 0;
    justify-content: center;
    align-items: center;
    transition:
      var(--transition-border),
      var(--transition-background),
      outline-color var(--transition-duration),
      outline-offset var(--transition-duration);
    font-size: var(--ui-check-icon-font-size);
    cursor: pointer;

    &::before {
      line-height: var(--ui-check-icon-font-size);
      text-indent: 0;
      display: block;
      transition: var(--transition-color), var(--transition-opacity), var(--transition-transform);
      color: var(--color-light);
      content: "";
      background-color: currentColor;
      mask: var(--ui-check-icon);
      opacity: 0;
      transform: scale(0);
      will-change: transform;
      width: 1em;
      height: 1em;
    }

    &:where(:required) {
      & + *::after {
        color: var(--color-error);
        content: " *";
      }
    }

    &:not(:disabled) {
      &:is(:hover, :focus-visible) {
        --ui-check-bg: var(--ui-check-checked-bg);
        --ui-check-border-color: var(--ui-check-checked-bg);
        --ui-check-border-opacity: 75%;
        --ui-check-bg-opacity: 10%;
      }

      &:focus {
        --ui-check-border-color: var(--ui-check-checked-bg);
        --ui-check-border-opacity: 75%;

        outline-color: color-mix(in sRGB, var(--ui-check-checked-bg) var(--ui-check-outline-opacity), transparent);
        outline-offset: var(--ui-check-outline-offset);
      }
    }

    &:disabled {
      --ui-check-bg-opacity: 15%;
      --ui-check-bg: var(--color-current);

      cursor: not-allowed;
      opacity: var(--ui-check-disabled-opacity);
    }

    &:checked {
      --ui-check-border-opacity: 0%;

      background-color: var(--ui-check-checked-bg);

      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &.invalid, .validated & :where(input):invalid {
    --ui-check-bg: var(--color-error);
    --ui-check-border-color: var(--color-error);
    --ui-check-checked-bg: var(--color-error);
    --ui-check-border-opacity: 100%;
  }
}
