.ui-group {
  display: flex;
  flex-wrap: wrap;

  &:has(.ui-control) {
    :where(.ui-btn) {
      --ui-btn-border-width: 1px;
      --ui-btn-border-opacity: 15%;
      --ui-btn-height: auto;

      min-width: 3rem;
    }
  }

  :where(.ui-btn) {
    --ui-btn-focus-outline-offset: 0;
  }

  & > * {
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &, & :where(input, select) {
        border-left: 0;
      }
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
