.ui-image {
  position: relative;
  display: inline-flex;
  border-radius: inherit;
  flex-shrink: 0;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
  }

  & > :where(img, video, iframe, object, svg) {
    border-radius: inherit;
    min-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
