:where(.ui-image) {
  --ui-image-bg: rgb(var(--color-background-200));
  --ui-image-border-radius: 0;

  position: relative;
  display: block;
  background-color: var(--ui-image-bg);
  border-radius: var(--ui-image-border-radius);

  & > * {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}
