.ui-image {
  --ui-image-bg: var(--color-body-secondary);

  position: relative;
  display: block;
  background-color: var(--ui-image-bg);
  border-radius: inherit;

  & > *:not(source) {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}
