:where(.ui-link) {
  --ui-link-font-size: 0.875rem;
  --ui-link-font-weight: var(--font-semibold);
  --ui-link-hover-color: rgb(var(--color-accent));
  --ui-link-hover-opacity: 0.8;
  --ui-link-underline-width: 1px;
  --ui-link-underline-opacity: 0;
  --ui-link-underline-transform: translateY(-0.125rem);

  font-size: var(--ui-link-font-size);
  font-weight: var(--ui-link-font-weight);
  transition: var(--transition-opacity), var(--transition-color);
  display: flex;
  align-items: center;
  position: relative;

  &:where(.is-underline)::after {
    content: "";
    border-bottom: var(--ui-link-underline-width) solid currentColor;
    opacity: var(--ui-link-underline-opacity);
    position: absolute;
    inset: auto 0 0 0;
    transition: var(--transition-opacity), var(--transition-transform);
    transform: var(--ui-link-underline-transform);
  }

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      --ui-link-underline-opacity: 1;
      --ui-link-underline-transform: none;

      color: var(--ui-link-hover-color);
      opacity: var(--ui-link-hover-opacity);
    }
  }

  &:active {
    opacity: var(--ui-link-hover-opacity);
  }

  &:where(:focus-visible) {
    --ui-link-underline-opacity: 1;
    --ui-link-underline-transform: none;
  }
}
