.ui-notice {
  --color-current: var(--color-accent);
  --ui-notice-outline-width: 1px;

  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--ui-notice-py, 1.25rem) var(--ui-notice-px, 1.5rem);
  font-size: var(--ui-notice-font-size, var(--text-sm));
  border-radius:  var(--rounded);
  background-color: color-mix(in sRGB, var(--color-accent) 10%, transparent);
  outline: var(--ui-notice-outline-width) solid color-mix(in sRGB, var(--color-accent) var(--ui-notice-outline-opacity, 10%), transparent);
  outline-offset: var(--ui-notice-outline-offset, calc(var(--ui-notice-outline-width) * -1));
  color: var(--color-accent);
  gap: var(--ui-notice-gap, 1.25rem);
  text-wrap: balance;

  & :where(hr) {
    --tw-border-opacity: 0.2;
  }
}
