.ui-rating {
  --c-rating-gap: 0.25rem;
  --c-rating-opacity: 0.2;

  display: flex;
  align-items: center;

  :where(input) {
    display: grid;
    box-sizing: content-box;
    color: var(--color-accent);
    transition: var(--transition-opacity);
    width: 1.25rem;
    height: 1.25rem;
    opacity: var(--c-rating-opacity);

    &:not(:last-child) {
      border-inline-end-width: var(--c-rating-gap);
      border-inline-color: transparent;
    }

    &::before {
      content: "";
      mask: var(--mask-star);
      background-color: currentcolor;
    }
  }

  &:has(:checked) input {
    opacity: 1;

    &:where(:checked ~ input) {
      opacity: var(--c-rating-opacity);
    }
  }

  &:hover input {
    opacity: 1;

    &:hover ~ input {
      opacity: var(--c-rating-opacity);
    }
  }

  &.invalid, .validated & :where(input):invalid {
    --color-accent: var(--color-error);
  }
}
