.ui-text {
  --ui-text-size: 0.875rem;
  --ui-text-size-line: 0.75rem;
  --ui-text-weight: var(--font-normal);
  --ui-text-weight-bold: var(--font-semibold);
  --ui-text-content-my: 1.5rem;
  --ui-text-content-my-sm: 1rem;
  --ui-text-content-my-lg: 2rem;

  font-weight: var(--ui-text-weight);
  font-size: var(--ui-text-size);
  line-height: calc(var(--ui-text-size) + var(--ui-text-size-line));

  &:where(.lg) {
    --ui-text-size: 1.125rem;
  }

  & :where(a) {
    text-decoration: underline;
    transition: var(--transition-color);
    color: var(--color-accent);

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        color: color-mix(in sRGB, var(--color-accent) 70%, transparent);
      }
    }

    &:focus-visible {
      color: color-mix(in sRGB, var(--color-accent) 70%, transparent);
    }
  }

  & :where(b, strong) {
    font-weight: var(--ui-text-weight-bold);
  }

  & :where(i, em) {
    display: inline;
    font-style: italic;
  }

  & :where(figure) {
    margin: var(--ui-text-content-my) 0;
  }

  & :where(figcaption) {
    font-size: 0.875rem;
    font-weight: var(--font-semibold);
    margin-top: 0.25rem;
    line-height: 1.5;
  }

  & :where(img) {
    height: auto;
  }

  & :where(p) {
    line-height: inherit;

    &:not(:only-child) {
      margin: var(--ui-text-content-my-sm) 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:empty {
      line-height: var(--ui-text-content-my-sm);
      margin: 0;
    }

    &::after {
      content: "\00a0";
    }
  }

  & :where(hr) {
    --tw-border-opacity: 0.1;

    margin: var(--ui-text-content-my-lg) 0;
  }

  & :where(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--ui-text-weight-bold);
    font-family: var(--font-secondary);
    font-size: var(--ui-text-heading-size, 1rem);
    line-height: calc(var(--ui-text-heading-size) + 0.5rem);
    margin: var(--ui-text-content-my) 0 var(--ui-text-content-my-sm);

    &:first-child {
      margin-top: 0;
    }
  }

  & :where(h1) {
    --ui-text-heading-size: 2.25rem;
  }

  & :where(h2) {
    --ui-text-heading-size: 1.75rem;
  }

  & :where(h3, h4) {
    --ui-text-heading-size: 1.25rem;
  }

  & :where(table) {
    border: 0;
    min-width: 100%;

    & :where(td, th) {
      padding: 1rem 1.25rem;
      text-align: left;
    }

    & :where(thead) {
      font-weight: var(--ui-text-weight-bold);
      border-bottom: 1px solid color-mix(in sRGB, var(--color-current) 7.5%, transparent);
    }

    & :where(tbody tr) {
      &:nth-of-type(even) {
        background-color: color-mix(in sRGB, var(--color-current) 5%, transparent);
      }
    }
  }

  & :where(iframe) {
    max-width: 100%;

    &:where([src*="youtube.com"]) {
      aspect-ratio: 16/9;
      height: auto;
    }
  }

  & :where(blockquote) {
    border-left: 0.3125rem solid var(--color-accent);
    padding: 0.5rem 1.25rem;
    margin: 1rem 0;
    font-size: inherit;
  }

  & :where(code) {
    margin: 0 0.25rem;
    border-radius: var(--rounded-xs);
    padding: 0.25rem 0.375rem;
    font-size: 0.85em;
    color: var(--color-accent);
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: rgb(27 31 35 / 5%);

    :where(.dark) & {
      background-color: var(--color-body-secondary);
    }
  }

  & :where(ol) {
    margin: var(--ui-text-content-my) 0;
    padding: 0 0 0 1rem;

    &:not([type]) {
      list-style: decimal;
    }

    & :where(li) {
      padding-left: 0.5rem;

      &:not(:last-child) {
        margin: 0 0 0.5rem;
      }

      &::marker {
        color: var(--color-accent);
        font-weight: var(--ui-text-weight-bold);
      }
    }
  }

  & :where(ul) {
    list-style-type: none !important;
    margin: var(--ui-text-content-my) 0;
    padding: 0;

    & :where(li) {
      position: relative;
      line-height: inherit;
      padding-left: 1.25rem;

      &:not(:last-child) {
        margin: 0 0 0.5rem;
      }

      &::before {
        width: 0.375rem;
        height: 0.375rem;
        position: absolute;
        content: "";
        border: 1px solid var(--color-accent);
        background-color: var(--color-accent);
        left: 0;
        top: 0.6875rem;
        text-indent: 0;
        border-radius: 50%;
      }
    }

    &[style*="square"] {
      & :where(li) {
        &::before {
          border-radius: 0;
        }
      }
    }

    &[style*="circle"] {
      & :where(li) {
        &::before {
          border-radius: 50%;
          background-color: transparent;
        }
      }
    }
  }
}
