.ui-text {
  & :where(table) {
    & :where(thead) {
      border-bottom: 1px solid rgb(var(--color-body-current-rgb) / 7.5%);
    }

    & :where(tbody tr) {
      &:nth-of-type(even) {
        background-color: rgb(var(--color-body-current-rgb) / 5%);
      }
    }
  }
}
