.ui-notice {
  --tw-bg-opacity: 0.1;
  --tw-bg-mix: transparent;
  --tw-outline-opacity: 0.1;
  --tw-outline-mix: transparent;

  padding: var(--ui-notice-py) var(--ui-notice-px);
  font-size: var(--ui-notice-font-size);
  border-radius: var(--ui-notice-border-radius);
  background-color: color-mix(in var(--space), var(--color-accent) calc(var(--tw-bg-opacity) * 100%), var(--tw-bg-mix));
  color: var(--color-accent);
  outline:
    var(--ui-notice-outline-width) solid
    color-mix(
      in var(--space),
      var(--color-accent) calc(var(--tw-outline-opacity) * 100%),
      var(--tw-outline-mix)
    );
  outline-offset: var(--ui-notice-outline-offset);
  text-wrap: pretty;

  :where(hr) {
    --tw-border-opacity: 0.2;
  }
}
