:root,
:host {
  --x-breadcrumb-marker-size: 0.875rem;
  --x-breadcrumb-marker-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" /></svg>');
  --x-breadcrumb-gap: calc(var(--spacing) * 1);
}
