.c-toast {
  width: min(100%, var(--c-toast-width));
  height: var(--c-toast-height);
  transition: all var(--c-toast-duration) var(--transition-timing-function-in-out);
  position: relative;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;

  .flex-col-reverse & {
    justify-content: flex-end;
  }

  &.in {
    margin-block: var(--c-toaster-spacing-y);
  }

  &.in:where(:nth-last-child(-n+3)) {
    visibility: visible;
    opacity: 1;
  }

  &.out {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin-block: 0;
  }
}
