.switch {
  font-weight: var(--switch-font-weight);
  font-size: var(--switch-font-size);
  line-height: var(--switch-line-height);
  letter-spacing: var(--switch-letter-spacing);
  gap: var(--switch-gap);
  display: inline-flex;
  text-wrap: pretty;

  :where(input) {
    inline-size: var(--switch-inline-size);
    block-size: var(--switch-block-size);
    padding: calc((var(--switch-block-size) - var(--switch-icon-size)) / 2);
    border-radius: var(--switch-border-radius);
    background-color: color-mix(
      in var(--switch-background-color-space, srgb),
      var(--switch-background-color) var(--switch-background-color-opacity, 100%),
      var(--switch-background-color-mix, transparent)
    );
    outline:
      var(--switch-outline-width) solid
      color-mix(
        in var(--switch-outline-color-space, srgb),
        var(--switch-outline-color) var(--switch-outline-color-opacity, 0%),
        var(--switch-outline-color-mix, transparent)
      );
    outline-offset: var(--switch-outline-offset);
    display: flex;
    position: relative;
    flex-shrink: 0;

    &::before {
      inline-size: var(--switch-icon-size);
      block-size: var(--switch-icon-size);
      background-color: var(--color-light);
      transition: var(--transition-all);
      border-radius: inherit;
      margin-block: auto;
      content: "";
    }
  }
}
