.switch {
  :where(input) {
    transition-property: var(--default-transition-property);
    transition-timing-function: var(--transition-timing-function-in-out);
    transition-duration: var(--default-transition-duration);

    &:where(:required) {
      & + *::after {
        color: var(--switch-required-color, var(--color-error));
        content: " *";
      }
    }

    &:enabled:focus {
      --switch-outline-offset: var(--switch-focus-outline-offset);
      --switch-outline-color-opacity: var(--switch-focus-outline-color-opacity, 40%);
    }

    &:disabled {
      --switch-background-color: var(--switch-disabled-background-color, currentColor);
      --switch-background-color-opacity: var(--switch-disabled-background-color-opacity, 15%);
      --switch-outline-color: var(--switch-disabled-outline-color, currentColor);
      --switch-outline-color-opacity: var(--check-disabled-outline-color-opacity, 5%);

      cursor: not-allowed;
    }

    &:checked {
      --switch-outline-color: var(--color-accent);
      --switch-background-color: var(--color-accent);

      &::before {
        margin-inline-start: calc(100% - var(--switch-icon-size));
      }
    }

    &:indeterminate {
      &::before {
        margin-inline-start: calc(50% - var(--switch-icon-size) / 2);
      }
    }
  }
}
