.divider {
  --color-accent: currentColor;

  display: flex;
  align-items: center;
  align-self: stretch;

  &:where(:not(:empty)) {
    gap: var(--spacing-md);
  }

  &::before, &::after {
    content: "";
    flex-grow: 1;
    border-block-start: 1px solid color-mix(in var(--default-color-space), var(--color-accent) 15%, transparent);
  }

  &:where(.flex-col) {
    &::before, &::after {
      border-block-start: 0;
      border-inline-start: 1px solid color-mix(in var(--default-color-space), var(--color-accent) 15%, transparent);
    }
  }
}
