@utility dot {
  display: inline-flex;
  inline-size: 0.5rem;
  block-size: 0.5rem;
  border-radius: var(--radius-full);
  background-color: currentColor;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
