.underline {
  text-underline-offset: var(--tw-underline-offset, 0.125em);
}

.underline-transparent {
  &:where([href], button:enabled, [role="button"]) {
    transition: all var(--duration) var(--ease-in-out);

    &:not(:hover, :focus-visible) {
      text-underline-offset: var(--tw-underline-transparent-offset, -0.25em);
      text-decoration-color: transparent;
    }
  }
}
