:root, :host {
  --button-outline-width: 2px;
  --button-border-width: 0px;
  --button-border-radius: var(--radius);
  --button-font-size: var(--font-size-sm);
  --button-font-weight: var(--font-weight-medium);
  --button-gap: var(--spacing-sm);
  --button-height: 2.25rem;
  --button-padding-block: 0.375rem;
  --button-padding-inline: 0.75rem;
}
