:root, :host {
  --button-hover-background-color-mix: var(--color-dark);
  --button-hover-background-color-opacity: 80%;
  --button-focus-outline-offset: 2px;
  --button-focus-outline-color-opacity: 50%;
  --button-active-background-color-mix: var(--color-dark);
  --button-active-background-color-opacity: 90%;
  --button-disabled-background-color-opacity: 75%;
}
