.progress {
  &::-webkit-meter-bar {
    border: 0;
    background: transparent;
    border-radius: inherit;
  }

  &::-webkit-meter-inner-element {
    position: relative;
    display: block;
    border-radius: inherit;
  }

  &::-webkit-meter-optimum-value {
    background: var(--color-success);
    border-radius: inherit;
  }

  &::-webkit-meter-suboptimum-value {
    background: var(--color-warning);
    border-radius: inherit;
  }

  &::-webkit-meter-even-less-good-value {
    background: var(--color-error);
    border-radius: inherit;
  }

  &:-moz-meter-optimum::-moz-meter-bar {
    background: var(--color-success);
    border-radius: inherit;
  }

  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--color-warning);
    border-radius: inherit;
  }

  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--color-error);
    border-radius: inherit;
  }
}
