.x-title {
  font-family: var(--x-title-font-family);
  font-weight: var(--x-title-font-weight);
  font-size: var(--x-title-font-size);
  line-height: var(--x-title-line-height);
  letter-spacing: var(--x-title-letter-spacing);
  text-wrap: pretty;
}
