.x-breadcrumb {
  > :where(ul, ol) {
    &, > li {
      display: flex;
      align-items: center;
    }

    > li {
      &:not(:last-child)::after {
        mask: var(--x-breadcrumb-marker-mask);
        background-color: var(--x-breadcrumb-marker-background-color, currentColor);
        margin-inline: var(--x-breadcrumb-gap);
        inline-size: var(--x-breadcrumb-marker-size);
        block-size: var(--x-breadcrumb-marker-size);
        flex-shrink: 0;
        content: "";
      }
    }
  }
}
