.breadcrumb {
  > :where(ul, ol) {
    &, > li {
      display: flex;
      align-items: center;
    }

    > li {
      &:not(:last-child)::after {
        mask: var(--breadcrumb-marker);
        background-color: var(--breadcrumb-background-color, currentColor);
        margin-inline: var(--breadcrumb-gap);
        width: var(--breadcrumb-marker-size);
        height: var(--breadcrumb-marker-size);
        flex-shrink: 0;
        content: "";
      }
    }
  }
}
