:root, :host {
  --x-switch-inline-size: 3rem;
  --x-switch-block-size: 1.5rem;
  --x-switch-icon-size: 1.125rem;
  --x-switch-font-weight: var(--font-weight-normal);
  --x-switch-font-size: var(--text-sm);
  --x-switch-line-height: calc(1em + 0.25rem);
  --x-switch-gap: 0.75rem;
  --x-switch-border-radius: var(--radius-full);
  --x-switch-background-color: currentColor;
  --x-switch-outline-width: 2px;
  --x-switch-outline-color: currentColor;

  &.dark {
    --x-switch-background-color: var(--color-body-tertiary);
  }
}
