@utility divide-gap-x-* {
  :where(& > :not(:last-child)) {
    padding-inline-end: calc(var(--spacing) * --value(integer, [integer]));
    margin-inline-end: calc(var(--spacing) * --value(integer, [integer]));
  }
}

@utility divide-gap-y-* {
  :where(& > :not(:last-child)) {
    padding-block-end: calc(var(--spacing) * --value(integer, [integer]));
    margin-block-end: calc(var(--spacing) * --value(integer, [integer]));
  }
}
