@utility divide-gap-x-* {
  :where(& > :not(:last-child)) {
    padding-inline-end: calc(var(--spacing) * --value(number, [number]));
    margin-inline-end: calc(var(--spacing) * --value(number, [number]));
  }
}

@utility divide-gap-y-* {
  :where(& > :not(:last-child)) {
    padding-block-end: calc(var(--spacing) * --value(number, [number]));
    margin-block-end: calc(var(--spacing) * --value(number, [number]));
  }
}
