@utility grid-cols-container {
  grid-template-columns:
    [container-full-start] minmax(var(--container-padding), 1fr)
    [container-breakout-start] minmax(0, calc((var(--container-breakout-width) - var(--container-width)) / 2))
    [container-start] min(100% - (var(--container-padding) * 2), var(--container-width)) [container-end]
    minmax(0, calc((var(--container-breakout-width) - var(--container-width)) / 2)) [container-breakout-end]
    minmax(var(--container-padding), 1fr) [container-full-end];

  & > :where(*) {
    grid-column: container;
  }
}
