@utility bottom {
  position-area: block-end center;
  transform-origin: top;
  margin-block-start: var(--position-margin);
}

@utility bottom-start {
  position-area: block-end span-inline-end;
  transform-origin: top left;
  margin-block-start: var(--position-margin);
}

@utility bottom-end {
  position-area: block-end span-inline-start;
  transform-origin: top right;
  margin-block-start: var(--position-margin);
}

@utility top {
  position-area: block-start center;
  transform-origin: bottom;
  margin-block-end: var(--position-margin);
}

@utility top-start {
  position-area: block-start span-inline-end;
  transform-origin: bottom left;
  margin-block-end: var(--position-margin);
}

@utility top-end {
  position-area: block-start span-inline-start;
  transform-origin: bottom right;
  margin-block-end: var(--position-margin);
}

@utility left {
  position-area: inline-start center;
  transform-origin: right;
  margin-inline-end: var(--position-margin);
}

@utility left-start {
  position-area: inline-start span-block-end;
  transform-origin: right top;
  margin-inline-end: var(--position-margin);
}

@utility left-end {
  position-area: inline-start span-block-start;
  transform-origin: right bottom;
  margin-inline-end: var(--position-margin);
}

@utility right {
  position-area: inline-end center;
  transform-origin: bottom;
  margin-inline-start: var(--position-margin);
}

@utility right-start {
  position-area: inline-end span-block-end;
  transform-origin: left top;
  margin-inline-start: var(--position-margin);
}

@utility right-end {
  position-area: inline-end span-block-start;
  transform-origin: left bottom;
  margin-inline-start: var(--position-margin);
}
