@layer utilities {
  :where(.row) {
    --gx: 0rem;
    --gy: 0rem;

    display: flex;
    margin: calc(var(--gy) / -2) calc(var(--gx) / -2) calc(var(--gy) / -2) calc(var(--gx) / -2);

    & > * {
      padding: calc(var(--gy) / 2) calc(var(--gx) / 2) calc(var(--gy) / 2) calc(var(--gx) / 2);
    }
  }

  :where(.row-y) {
    --gy: 0rem;

    display: flex;
    margin-top: calc(var(--gy) / -2);
    margin-bottom: calc(var(--gy) / -2);

    & > * {
      padding-top: calc(var(--gy) / 2);
      padding-bottom: calc(var(--gy) / 2);
    }
  }

  :where(.row-x) {
    --gx: 0rem;

    display: flex;
    margin-left: calc(var(--gx) / -2);
    margin-right: calc(var(--gx) / -2);

    & > * {
      padding-left: calc(var(--gx) / 2);
      padding-right: calc(var(--gx) / 2);
    }
  }

  :where(.col) {
    display: flex;
    flex-direction: column;
  }

  .g-0 {
    --gx: 0rem;
    --gy: 0rem;
  }

  .g-1 {
    --gx: 0.25rem;
    --gy: 0.25rem;
  }

  .g-2 {
    --gx: 0.5rem;
    --gy: 0.5rem;
  }

  .g-3 {
    --gx: 0.75rem;
    --gy: 0.75rem;
  }

  .g-4 {
    --gx: 1rem;
    --gy: 1rem;
  }

  .g-5 {
    --gx: 1.25rem;
    --gy: 1.25rem;
  }

  .g-6 {
    --gx: 1.5rem;
    --gy: 1.5rem;
  }

  .g-7 {
    --gx: 1.75rem;
    --gy: 1.75rem;
  }

  .g-8 {
    --gx: 2rem;
    --gy: 2rem;
  }

  .g-9 {
    --gx: 2.25rem;
    --gy: 2.25rem;
  }

  .g-10 {
    --gx: 2.5rem;
    --gy: 2.5rem;
  }

  .g-11 {
    --gx: 2.75rem;
    --gy: 2.75rem;
  }

  .g-12 {
    --gx: 3rem;
    --gy: 3rem;
  }

  .g-14 {
    --gx: 3.5rem;
    --gy: 3.5rem;
  }

  .g-16 {
    --gx: 4rem;
    --gy: 4rem;
  }

  .g-20 {
    --gx: 5rem;
    --gy: 5rem;
  }

  .g-24 {
    --gx: 6rem;
    --gy: 6rem;
  }

  .g-28 {
    --gx: 7rem;
    --gy: 7rem;
  }

  .g-32 {
    --gx: 8rem;
    --gy: 8rem;
  }

  .gx-0 {
    --gx: 0;
  }

  .gx-1 {
    --gx: 0.25rem;
  }

  .gx-2 {
    --gx: 0.5rem;
  }

  .gx-3 {
    --gx: 0.75rem;
  }

  .gx-4 {
    --gx: 1rem;
  }

  .gx-5 {
    --gx: 1.25rem;
  }

  .gx-6 {
    --gx: 1.5rem;
  }

  .gx-7 {
    --gx: 1.75rem;
  }

  .gx-8 {
    --gx: 2rem;
  }

  .gx-9 {
    --gx: 2.25rem;
  }

  .gx-10 {
    --gx: 2.5rem;
  }

  .gx-11 {
    --gx: 2.75rem;
  }

  .gx-12 {
    --gx: 3rem;
  }

  .gx-14 {
    --gx: 3.5rem;
  }

  .gx-16 {
    --gx: 4rem;
  }

  .gx-20 {
    --gx: 5rem;
  }

  .gx-24 {
    --gx: 6rem;
  }

  .gx-28 {
    --gx: 7rem;
  }

  .gx-32 {
    --gx: 8rem;
  }

  .gy-0 {
    --gy: 0;
  }

  .gy-1 {
    --gy: 0.25rem;
  }

  .gy-2 {
    --gy: 0.5rem;
  }

  .gy-3 {
    --gy: 0.75rem;
  }

  .gy-4 {
    --gy: 1rem;
  }

  .gy-5 {
    --gy: 1.25rem;
  }

  .gy-6 {
    --gy: 1.5rem;
  }

  .gy-7 {
    --gy: 1.75rem;
  }

  .gy-8 {
    --gy: 2rem;
  }

  .gy-9 {
    --gy: 2.25rem;
  }

  .gy-10 {
    --gy: 2.5rem;
  }

  .gy-11 {
    --gy: 2.75rem;
  }

  .gy-12 {
    --gy: 3rem;
  }

  .gy-14 {
    --gy: 3.5rem;
  }

  .gy-16 {
    --gy: 4rem;
  }

  .gy-20 {
    --gy: 5rem;
  }

  .gy-24 {
    --gy: 6rem;
  }

  .gy-28 {
    --gy: 7rem;
  }

  .gy-32 {
    --gy: 8rem;
  }

  .col-auto {
    width: auto;
  }

  .col-1 {
    width: 8.3333%;
  }

  .col-2 {
    width: 16.6667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.3333%;
  }

  .col-5 {
    width: 41.6667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.3333%;
  }

  .col-8 {
    width: 66.6667%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.3333%;
  }

  .col-11 {
    width: 91.6667%;
  }

  .col-12 {
    width: 100%;
  }
}
