@layer components {
  .animate {
    animation-duration: var(--duration);
    animation-fill-mode: both;
  }

  .underline {
    text-underline-position: under;
    text-decoration-thickness: max(1px, 0.0625em);
    text-underline-offset: -0.125rem;
    transition: all var(--duration) var(--ease-in-out);

    &:where([href], button, .interactive) {
      &:hover {
        @media (hover: hover) and (pointer: fine) {
          text-decoration-color: var(--color-current);
          text-underline-offset: 0;
        }
      }

      &:focus {
        text-decoration-color: var(--color-current);
        text-underline-offset: 0;
      }
    }
  }

  .skeleton {
    background:
      linear-gradient(
        270deg,
        color-mix(in sRGB, var(--color-body) 50%, var(--color-main)),
        color-mix(in sRGB, var(--color-body) 80%, var(--color-main)),
        color-mix(in sRGB, var(--color-body) 80%, var(--color-main)),
        color-mix(in sRGB, var(--color-body) 50%, var(--color-main))
      );
    background-size: 400% 100%;
    animation: skeleton-wave 1.5s linear infinite;
    opacity: 0.3;
    transition: opacity 0.3s ease-out;
  }

  .flex-col {
    display: flex;
  }

  .flex-between {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .flex-center {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
