.x-card {
  background-color: var(--x-card-background-color);
  border-radius: var(--x-card-border-radius);
  padding: var(--x-card-padding-block) var(--x-card-padding-inline);
  display: flex;
  flex-direction: column;
}
