.card {
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding-block) var(--card-padding-inline);
  display: flex;
  flex-direction: column;
}
