.ui-link {
  font-family: var(--ui-link-font-family);
  font-weight: var(--ui-link-font-weight);
  font-size: var(--ui-link-font-size);
  line-height: var(--ui-link-line-height, calc(1em + 0.15lh));
  letter-spacing: var(--ui-link-letter-spacing);
  text-wrap: balance;
}
