.ui-link {
  --tw-text-opacity: var(--ui-link-hover-color-opacity);

  &:where(:any-link, button:enabled, [role="button"]) {
    transition: all var(--duration) var(--ease-in-out);

    &:hover {
      color: color-mix(in var(--space), var(--ui-link-hover-color) calc(var(--tw-text-opacity) * 100%), var(--ui-link-hover-color-mix));
    }

    &:focus-visible {
      outline: 2px dotted currentColor;
      outline-offset: 2px;
    }
  }
}
