.ui-link {
  &:where([href], button:not(:disabled), [role="button"]) {
    --tw-text-opacity: 1;
    --tw-text-mix: transparent;

    color: color-mix(in var(--space), currentColor calc(var(--tw-text-opacity) * 100%), var(--tw-text-mix));
    transition: all var(--duration) var(--ease-in-out);

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        --tw-text-opacity: 0.75;
      }
    }

    &:focus-visible {
      outline: 2px dotted currentColor;
      outline-offset: 2px;
    }
  }
}
