:root, :host {
  --check-size: 1.25rem;
  --check-icon-size: 1.125rem;
  --check-icon: var(--mask-check);
  --check-gap: var(--spacing-md);
  --check-font-size: var(--font-size-sm);
  --check-line-height: calc(1em + 0.25rem);
  --check-border-radius: var(--radius-md);
  --check-border-width: 1px;
  --check-bg: currentColor;
  --check-border-color: currentColor;
  --check-outline-width: 3px;
}
