:root, :host {
  --duration: 150ms;
  --ease-linear: linear;
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  @media (prefers-reduced-motion) {
    --duration: 0;
  }
}

:root, :host {
  --transition: color, background-color, border-color, text-decoration-color, fill, stroke, oacity, box-shadow, transform, filter, backdrop-filter;
  --transition-all: all var(--duration) var(--ease-in-out);
  --transition-color: color var(--duration) var(--ease-in-out);
  --transition-background: background var(--duration) var(--ease-in-out);
  --transition-opacity: opacity var(--duration) var(--ease-in-out);
  --transition-transform: transform var(--duration) var(--ease-in-out);
  --transition-border: border-color var(--duration) var(--ease-in-out);
  --transition-shadow: box-shadow var(--duration) var(--ease-in-out);
}
