:root, :host {
  --transition-all: all var(--default-transition-duration) var(--transition-timing-function-in-out);
  --transition-color: color var(--default-transition-duration) var(--transition-timing-function-in-out);
  --transition-background: background var(--default-transition-duration) var(--transition-timing-function-in-out);
  --transition-opacity: opacity var(--default-transition-duration) var(--transition-timing-function-in-out);
  --transition-transform: transform var(--default-transition-duration) var(--transition-timing-function-in-out);
  --transition-border: border-color var(--default-transition-duration) var(--transition-timing-function-in-out);
  --transition-shadow: box-shadow var(--default-transition-duration) var(--transition-timing-function-in-out);
  --transition-display: display var(--default-transition-duration) var(--transition-timing-function-in-out);
  --transition-overlay: overlay var(--default-transition-duration) var(--transition-timing-function-in-out);
  --view-transition-main-duration: var(--default-transition-duration);

  @media (prefers-reduced-motion) {
    --default-transition-duration: 0;
    --view-transition-main-duration: 0;
  }
}
