:root, :host {
  --x-heading-font-family: var(--font-primary);
  --x-heading-font-weight: var(--font-weight-semibold);
  --x-heading-font-size: var(--text-xl);
  --x-heading-line-height: calc(1em + 0.375rem);
}
