:root, :host {
  --ui-color-primary: currentColor;
  --ui-color-secondary: transparent;
  --ui-color-size: 1.75rem;
  --ui-color-p: var(--spacing-xs);
  --ui-color-outline-width: 3px;
  --ui-color-outline-color: var(--ui-color-border-color);
  --ui-color-border-width: 2px;
  --ui-color-border-color: currentColor;
  --ui-color-border-radius: var(--rounded-full);
}
