.ui-color {
  display: inline-flex;

  & :where(input) {
    --tw-border-opacity: 0.1;
    --tw-border-mix: transparent;
    --tw-outline-opacity: 0;

    width: var(--ui-color-size);
    height: var(--ui-color-size);
    padding: var(--ui-color-p);
    border-radius: var(--ui-color-border-radius);
    border:
      var(--ui-color-border-width) solid
      color-mix(
        in var(--space),
        var(--ui-color-border-color) calc(var(--tw-border-opacity) * 100%),
        var(--tw-border-mix, transparent)
      );
    outline:
      var(--ui-color-outline-width) solid
      color-mix(
        in var(--space),
        var(--ui-color-outline-color) calc(var(--tw-outline-opacity) * 100%),
        var(--tw-outline-mix, transparent)
      );
    outline-offset: var(--ui-check-outline-offset);
    display: inline-grid;

    &::before, &::after {
      border: 1px solid transparent;
      border-radius: inherit;
      grid-area: 1/-1;
      content: "";
    }

    &::before {
      background-color: var(--ui-color-primary);
      border-color: inherit;
    }

    &::after {
      background-color: var(--ui-color-secondary);
      clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }
  }
}
