.ui-color {
  & :where(input) {
    transition-property: var(--transition);
    transition-timing-function: var(--ease-in-out);
    transition-duration: var(--duration);

    &:where(:disabled) {
      cursor: not-allowed;

      &::before, &::after {
        opacity: var(--ui-color-disabled-opacity);
      }
    }

    &:where(:enabled) {
      &:is(:hover) {
        --tw-border-opacity: 0.3;
      }

      &:is(:focus-visible) {
        --tw-border-opacity: 1;
        --tw-outline-opacity: 0.2;
      }
    }

    &:is(:checked) {
      --tw-border-opacity: 1;
    }
  }
}
