:root, :host {
  --popover-content-background-color: var(--color-body-primary);
  --popover-content-border-radius: var(--radius);
  --popover-content-padding-block: var(--spacing-sm);
  --popover-content-padding-inline: var(--spacing-sm);
  --popover-content-scale-y: 0.75;
  --popover-content-scale-x: 0.75;
}
