:root, :host {
  --rating-inline-size: 1.25rem;
  --rating-block-size: 1.25rem;
  --rating-color: var(--color-accent);
  --rating-gap: 0.25rem;
  --rating-opacity: 0.2;
  --rating-icon: var(--mask-star);
}
