.x-field {
  gap: var(--x-field-gap, var(--spacing-sm));
  display: flex;
  flex-direction: column;

  .validated &:has(:invalid) {
    :where(.x-info[hidden]) {
      display: revert;
    }
  }

  &:has([required]) :where(.x-label) {
    &::after {
      color: var(--x-field-required-color, var(--color-error));
      content: " *";
    }
  }
}
