.range {
  :where(input) {
    &:not(:only-of-type) {
      --range-track:
        linear-gradient(
          to right,
          transparent 0%,
          transparent var(--range-track-start),
          var(--range-track-bg) var(--range-track-start),
          var(--range-track-bg) var(--range-track-end),
          transparent var(--range-track-end),
          transparent 100%
        );

      pointer-events: none;

      ~ input {
        background: transparent;
      }
    }
  }
}
