.x-range:where(.vertical) {
  min-inline-size: var(--x-range-thumb-size);
  container-type: size;

  :where(input) {
    transform: rotate(-90deg);
    width: 100cqh;
    inset-block-start: calc(50% - 50cqw / 2);
    inset-inline-start: calc(50% * -1 + 50cqw);
  }
}
