.drawer-content {
  inline-size: var(--drawer-content-inline-size);
  block-size: var(--drawer-content-block-size);
  background-color: var(--drawer-content-background-color);
  flex-shrink: 0;
  scroll-snap-align: end;
}
