.c-drawer {
  --c-drawer-bg-opacity: 0.75;
  --tw-bg-opacity: 0;

  z-index: var(--z-30);
  position: fixed;
  inset: 0;
  display: flex;
  overflow: scroll hidden;
  background-color: color-mix(in srgb, var(--color-dark) calc(var(--tw-bg-opacity) * var(--c-drawer-bg-opacity) * 100%), transparent);
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;


  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    content: "";
    min-width: 100vw;
    scroll-snap-align: end;
  }

  &[inert] {
    pointer-events: none;
  }
}
