.c-drawer {
  --tw-bg-opacity: 0;

  z-index: var(--z-30);
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: row;
  overflow: auto hidden;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  background-color: color-mix(in srgb, var(--color-dark) calc(var(--tw-bg-opacity) * 50%), transparent);
  overflow-anchor: auto;
  pointer-events: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    content: "";
    display: block;
    min-width: 100vw;
    scroll-snap-align: end;
  }

  &:not(.active) {
    scroll-behavior: smooth;
  }
}
