.x-drawer {
  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  timeline-scope: --x-drawer-fade;
  animation: fade-drawer-backdrop linear both;
  animation-timeline: --x-drawer-fade;

  &::backdrop {
    background-color: rgb(0 0 0);
    opacity: calc(var(--x-drawer-backdrop) * 80%);
  }
}

@keyframes fade-drawer-backdrop {
  0% {
    --x-drawer-backdrop: 1;
  }

  100% {
    --x-drawer-backdrop: 0;
  }
}

@property --x-drawer-backdrop {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
