:root,
:host {
  --default-transition-duration: 150ms;
  --default-transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, outline-color, outline-offset, visibility, display, overlay;
  --default-transition-timing-function: var(--ease-in-out);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-spring: linear(0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017, 1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%, 1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%, 0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1);
  --transition-all: all var(--default-transition-duration) var(--default-transition-timing-function);
  --transition-color: color var(--default-transition-duration) var(--default-transition-timing-function);
  --transition-background: background var(--default-transition-duration) var(--default-transition-timing-function);
  --transition-opacity: opacity var(--default-transition-duration) var(--default-transition-timing-function);
  --transition-transform: transform var(--default-transition-duration) var(--default-transition-timing-function);
  --transition-border: border-color var(--default-transition-duration) var(--default-transition-timing-function);
  --transition-shadow: box-shadow var(--default-transition-duration) var(--default-transition-timing-function);
  --transition-display: display var(--default-transition-duration) var(--default-transition-timing-function);
  --transition-overlay: overlay var(--default-transition-duration) var(--default-transition-timing-function);
  --view-transition-main-duration: var(--default-transition-duration);

  @media (prefers-reduced-motion) {
    --default-transition-duration: 0;
    --view-transition-main-duration: 0;
  }
}
