:root {
  --color-current: rgb(var(--color-current-rgb));
  --color-current-fg: rgb(var(--color-current-fg-rgb));
  --color-accent: rgb(var(--color-accent-rgb));
  --color-accent-fg: rgb(var(--color-accent-fg-rgb));
  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-fg: rgb(var(--color-primary-fg-rgb));
  --color-main: var(--color-main-primary);
  --color-main-fg: rgb(var(--color-main-fg-rgb));
  --color-main-primary: rgb(var(--color-main-rgb));
  --color-main-secondary: color-mix(in sRGB, var(--color-main) 75%, var(--color-main-fg));
  --color-main-tertiary: color-mix(in sRGB, var(--color-main) 50%, var(--color-main-fg));
  --color-body: var(--color-body-primary);
  --color-body-fg: rgb(var(--color-body-fg-rgb));
  --color-body-primary: rgb(var(--color-body-rgb));
  --color-body-secondary: color-mix(in sRGB, var(--color-body) 95%, var(--color-body-fg));
  --color-body-tertiary: color-mix(in sRGB, var(--color-body) 90%, var(--color-body-fg));
  --color-light: rgb(var(--color-light-rgb));
  --color-light-fg: rgb(var(--color-light-fg-rgb));
  --color-dark: rgb(var(--color-dark-rgb));
  --color-dark-fg: rgb(var(--color-dark-fg-rgb));
  --color-success: rgb(var(--color-success-rgb));
  --color-error: rgb(var(--color-error-rgb));
  --color-warning: rgb(var(--color-warning-rgb));
  --color-info: rgb(var(--color-info-rgb));
}
