:root {
  --color-current: var(--color-body-current);
  --color-accent: var(--color-primary);
  --color-accent-current: var(--color-primary-current);
  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-current: var(--color-light);
  --color-main: var(--color-main-primary);
  --color-main-current: var(--color-body);
  --color-main-mix: var(--color-body);
  --color-main-primary: rgb(var(--color-main-rgb));
  --color-main-secondary: color-mix(in sRGB, var(--color-main) 75%, var(--color-main-mix));
  --color-main-tertiary: color-mix(in sRGB, var(--color-main) 50%, var(--color-main-mix));
  --color-body: var(--color-body-primary);
  --color-body-current: var(--color-main);
  --color-body-mix: var(--color-main);
  --color-body-primary: rgb(var(--color-body-rgb));
  --color-body-secondary: color-mix(in sRGB, var(--color-body) 95%, var(--color-body-mix));
  --color-body-tertiary: color-mix(in sRGB, var(--color-body) 90%, var(--color-body-mix));
  --color-light: rgb(var(--color-light-rgb));
  --color-light-current: var(--color-dark);
  --color-dark: rgb(var(--color-dark-rgb));
  --color-dark-current: var(--color-light);
  --color-success: rgb(var(--color-success-rgb));
  --color-error: rgb(var(--color-error-rgb));
  --color-warning: rgb(var(--color-warning-rgb));
  --color-info: rgb(var(--color-info-rgb));
}
