.c-compare {
  --c-compare-position: 50%;
  --c-compare-clip-path: polygon(0% 0, var(--c-compare-position) 0%, var(--c-compare-position) 100%, 0 100%);

  display: grid;
  overflow: hidden;
  border-radius: inherit;

  > *, &::before {
    grid-area: 1/1;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

  &::before {
    content: "";
    inline-size: 1px;
    background-color: var(--color-accent);
    inset-inline-start: var(--c-compare-position);
  }

  > :where(input) {
    pointer-events: auto;
    cursor: grab;
    opacity: 0;

    &:is(:focus-visible, :active) {
      ~ .ui-btn {
        --ui-btn-color: var(--color-current);
        --ui-btn-bg-mix: black;
        --ui-btn-bg-opacity: 80%;
      }
    }

    &:focus-visible ~ .ui-btn {
      outline-color: color-mix(in sRGB, var(--color-accent) 50%, transparent);
      outline-offset: 2px;
    }

    &:active {
      cursor: grabbing;
    }
  }

  > :where(.ui-btn) {
    margin-block: auto;
    inset-inline-start: var(--c-compare-position);
    margin-inline-start: calc(var(--ui-btn-width) / 2 * -1);
  }

  > :where(.ui-image) {
    display: grid;
    z-index: 0;

    > :where(*):not(:only-child) {
      object-fit: cover;
      object-position: left;
      grid-area: 1/1;

      &:first-child {
        position: relative;
        clip-path: var(--c-compare-clip-path);
      }
    }
  }
}
