.c-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  .validated &:has(:invalid) {
    & :where(.ui-info[hidden]) {
      display: flex;
    }
  }

  &:has([required]) :where(.ui-label) {
    &::after {
      color: var(--color-error);
      content: " *";
    }
  }
}
