.c-field {
  --c-field-gap: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: var(--c-field-gap);

  .validated &:has(:invalid) {
    & :where(.ui-info[hidden]) {
      display: block;
    }
  }

  &:has([required]) :where(.ui-label) {
    &::after {
      color: var(--color-error);
      content: " *";
    }
  }
}
