.c-toast {
  width: var(--c-toast-width, 20rem);
  height: var(--c-toast-height, auto);
  transition: all var(--c-toast-duration, 300ms) var(--ease-in-out);
  margin-block: var(--c-toaster-spacing-y);
  position: relative;
  pointer-events: auto;
  opacity: 0;
  display: flex;
  flex-direction: column;

  .flex-col-reverse & {
    justify-content: flex-end;
  }

  .ui-text {
    --ui-text-font-size: var(--text-sm);
    --ui-text-line-height: calc(1em + 0.25lh);
  }

  > div {
    --tw-border-space: var(--space);
    --tw-border-mix: var(--color-light);
    --tw-border-opacity: 0.15;

    border-radius: var(--c-toast-border-radius, var(--rounded-2xl));
    padding: var(--c-toast-py, var(--spacing-md)) var(--c-toast-px, var(--spacing-lg));
    gap: var(--c-toast-gap, var(--spacing-xl));
    background-color: var(--c-toast-color, var(--color-body-primary));
    color: var(--c-toast-color, var(--color-accent));
    border: 1px solid color-mix(in var(--tw-border-space), var(--color-accent) calc(var(--tw-border-opacity) * 100%), var(--tw-border-mix));
    align-items: center;
    display: flex;
    height: fit-content;
    text-wrap: balance;
  }

  &.in {
    opacity: 1;
  }

  &.out {
    height: 0;
    opacity: 0;
    margin-block: 0;
    padding-block: 0;
  }
}
