.carousel-content {
  display: flex;
  overflow: auto;
  user-select: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: none;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  & > :where(*) {
    flex: 0 0 auto;
    scroll-snap-align: start;

    &:last-child {
      scroll-snap-align: end;
    }
  }

  &:is(.grabbing) {
    &, & * {
      cursor: grabbing;
    }

    & a {
      pointer-events: none;
    }
  }
}
