@theme {
  --default-transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, outline-color, outline-offset, visibility, display, overlay;
  --font-family-primary: var(--default-font-family);
  --font-family-secondary: var(--default-font-family);
  --font-weight-black: 900;
  --font-weight-extrabold: 800;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-extralight: 200;
  --font-weight-thin: 100;
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-30: 30;
  --z-index-40: 40;
  --z-index-50: 50;
  --radius: var(--radius-xl);
  --radius-full: calc(infinity * 1px);
}
