@theme {
  --ease-anticipate: cubic-bezier(1, -0.4, 0.35, 0.95);
  --ease-spring: linear(0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017, 1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%, 1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%, 0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1);
  --ease-emphasized: linear(0, 0.0341 6.4%, 0.1281 11.41%, 0.6604 20.61%, 0.7653 24.59%, 0.8448 30.42%, 0.9155 40.62%, 0.9633 54.99%, 1);
}
