@theme {
  --radius: 0.125rem;
  --radius-xs: calc(var(--radius) * 1);
  --radius-sm: calc(var(--radius) * 2);
  --radius-md: calc(var(--radius) * 3);
  --radius-lg: calc(var(--radius) * 4);
  --radius-xl: calc(var(--radius) * 6);
  --radius-2xl: calc(var(--radius) * 8);
  --radius-3xl: calc(var(--radius) * 12);
  --radius-4xl: calc(var(--radius) * 16);
  --radius-full: calc(infinity * 1px);
}
