.c-dialog {
  --tw-bg-opacity: var(--c-dialog-bg-opacity);

  z-index: var(--z-30);
  padding: var(--c-dialog-py) var(--c-dialog-px);
  background-color: color-mix(in var(--space), var(--c-dialog-bg) calc(var(--tw-bg-opacity) * 100%), transparent);
  transition: var(--transition-background);
  display: flex;
  position: fixed;
  inset: 0;
  overflow: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;

  &::backdrop {
    visibility: hidden;
  }

  &:not([open]) {
    background-color: transparent;
    pointer-events: none;
  }
}

html:has(.c-dialog:not([inert])) {
  padding-inline-end: var(--c-dialog-scrollbar-width);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
