.dialog {
  z-index: var(--dialog-z-index, var(--z-index-30));
  padding: var(--dialog-padding-block) var(--dialog-padding-inline);
  background-color:
    color-mix(
      in var(--dialog-background-color-space, srgb),
      var(--dialog-background-color) var(--dialog-background-color-opacity),
      var(--dialog-background-color-mix, transparent)
    );
  transition: var(--transition-background);
  display: flex;
  position: fixed;
  inset: 0;
  overflow: hidden;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;

  &::backdrop, &:not([open]) {
    display: none;
  }

  &:not(.open) {
    background-color: transparent;
  }
}

html:has(.dialog[open]) {
  padding-inline-end: var(--default-scrollbar-width);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
