.ui-check {
  --ui-check-checked-bg: var(--color-accent);

  font-weight: var(--ui-check-font-weight);
  font-size: var(--ui-check-font-size);
  line-height: var(--ui-check-line-height);
  letter-spacing: var(--ui-check-letter-spacing);
  gap: var(--ui-check-gap);
  display: inline-flex;
  text-wrap: balance;

  &:has([type="radio"]) {
    --ui-check-icon: var(--mask-radio);
    --ui-check-border-radius: 50%;
  }

  :where(a) {
    color: var(--color-accent);
    text-decoration: underline;
  }

  :where(input) {
    --tw-border-opacity: 0.2;
    --tw-border-mix: transparent;
    --tw-outline-opacity: 0;
    --tw-outline-mix: transparent;
    --tw-bg-opacity: 0;
    --tw-bg-mix: transparent;

    width: var(--ui-check-size);
    height: var(--ui-check-size);
    border-radius: var(--ui-check-border-radius);
    background-color: color-mix(in var(--space), var(--ui-check-bg) calc(var(--tw-bg-opacity) * 100%), var(--tw-bg-mix));
    border:
      var(--ui-check-border-width) solid
      color-mix(
        in var(--space),
        var(--ui-check-border-color) calc(var(--tw-border-opacity) * 100%),
        var(--tw-border-mix)
      );
    outline:
      var(--ui-check-outline-width) solid
      color-mix(
        in var(--space),
        var(--ui-check-checked-bg) calc(var(--tw-outline-opacity) * 100%),
        var(--tw-outline-mix)
      );
    outline-offset: var(--ui-check-outline-offset);
    display: flex;
    flex-shrink: 0;

    &::before {
      width: var(--ui-check-icon-size);
      height: var(--ui-check-icon-size);
      color: var(--ui-check-color, var(--color-accent-foreground));
      mask: var(--ui-check-icon, var(--mask-check));
      transition: inherit;
      content: "";
      background-color: currentColor;
      opacity: 0;
      transform: scale(0);
      will-change: transform;
      margin: auto;
    }

    &:where(:required) {
      + *::after {
        color: var(--color-error);
        content: " *";
      }
    }
  }
}
