.ui-check {
  --ui-check-hover-border-color: var(--color-accent);
  --ui-check-hover-bg: var(--color-accent);
  --ui-check-checked-bg: var(--color-accent);
  --ui-check-focus-border-color: var(--color-accent);

  :where(input) {
    transition-property: var(--transition);
    transition-timing-function: var(--ease-in-out);
    transition-duration: var(--duration);

    &:enabled {
      &:is(:hover, :focus-visible) {
        --ui-check-border-color: var(--ui-check-hover-border-color);
        --ui-check-bg: var(--ui-check-hover-bg);
        --tw-border-opacity: var(--ui-check-hover-border-opacity, 0.75);
        --tw-bg-opacity: var(--ui-check-hover-bg-opacity, 0.1);
      }

      &:focus {
        --ui-check-border-color: var(--ui-check-focus-border-color);
        --ui-check-outline-offset: var(--ui-check-focus-outline-offset);
        --tw-border-opacity: var(--ui-check-focus-border-opacity, 0.75);
        --tw-outline-opacity: var(--ui-check-focus-outline-opacity, 0.2);
      }
    }

    &:disabled {
      --tw-bg-opacity: var(--ui-check-disabled-bg-opacity, 0.15);

      cursor: not-allowed;
      opacity: var(--ui-check-disabled-opacity);
    }

    &:where([type="checkbox"]):indeterminate {
      --ui-check-icon: var(--mask-indeterminate);
    }

    &:is(:checked, [type="checkbox"]:indeterminate) {
      --ui-check-bg: var(--ui-check-checked-bg);
      --tw-bg-opacity: 1;
      --tw-border-opacity: 0;

      &::before {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
