.ui-check {
  &.invalid, .validated & :where(input):invalid {
    --ui-check-border-color: var(--color-error);
    --ui-check-checked-bg: var(--color-error);
    --ui-check-color: var(--color-error);
    --tw-border-opacity: 1;
  }
}
