.control {
  display: grid;
  block-size: var(--control-height);
  font-family: var(--control-font-family);
  font-weight: var(--control-font-weight);
  font-size: var(--control-font-size);
  letter-spacing: var(--control-letter-spacing);
  color: var(--control-color);
  border-radius: var(--control-border-radius);
  background-color:
    color-mix(
      in var(--control-background-color-space, srgb),
      var(--control-background-color) var(--control-background-color-opacity, 100%),
      var(--control-background-color-mix, transparent)
    );
  border:
    var(--control-border-width) solid
    color-mix(
      in var(--control-border-color-space, srgb),
      var(--control-border-color) var(--control-border-color-opacity, 15%),
      var(--control-border-color-mix, transparent)
    );
  outline:
    var(--control-outline-width) solid
    color-mix(
      in var(--control-outline-color-space, srgb),
      var(--control-outline-color, var(--color-accent)) var(--control-outline-color-opacity, 0%),
      var(--control-outline-color-mix, transparent)
    );
  outline-offset: var(--control-outline-offset);
  grid-template:
    [control-start] calc(var(--control-padding-block) - var(--control-border-width))
    [control-padding] 1fr
    calc(var(--control-padding-block) - var(--control-border-width)) [control-end] /
    [control-start] var(--control-padding-inline)
    [control-padding] 1fr
    var(--control-padding-inline) [control-end];

  &:has(textarea) {
    height: auto;
  }

  > :where(*) {
    grid-area: control-padding;
    align-self: center;
  }

  > :where(input, textarea, select) {
    padding-block: var(--control-padding-block);
    padding-inline: calc(var(--control-padding-inline) + var(--control-padding-inline-start, 0px)) calc(var(--control-padding-inline) + var(--control-padding-inline-end, 0px));
    grid-area: control;
    text-overflow: ellipsis;
    overflow: clip;
    align-self: stretch;
    align-items: center;
    border-radius: inherit;

    &:disabled {
      cursor: not-allowed;
    }
  }

  > :where(input, textarea) {
    &::placeholder {
      color: var(--control-placeholder-color);
      opacity: var(--control-placeholder-opacity);
    }
  }

  > :where(textarea) {
    min-block-size: var(--control-height-textarea);
    resize: vertical;
  }
}
