.control:where(:has(:not([type="color"]) ~ label)) {
  > :where(label) {
    margin-inline: var(--control-ps, 0) var(--control-pe, 0);
    pointer-events: none;
    transform-origin: 0 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
    will-change: transform;
    transition: var(--transition-transform), var(--transition-color), var(--transition-opacity);
  }

  > :where(textarea) {
    padding-block-start: calc(var(--control-py) + var(--control-label-translate-y) * var(--control-label-scale));

    + :where(label) {
      align-self: start;
    }
  }

  > :where(input, select) {
    padding-block: calc(var(--control-py) + var(--control-label-translate-y) * var(--control-label-scale)) calc(var(--control-py) - var(--control-label-translate-y) * var(--control-label-scale));

    &::-webkit-calendar-picker-indicator,
    &::-webkit-search-cancel-button,
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      transform: translateY(calc(var(--control-label-translate-y) * var(--control-label-scale) * -1));
    }
  }

  &:where(:has(:required)) :where(label)::after {
    color: var(--color-error);
    content: " *";
  }
}
