.control {
  --control-start: calc(var(--control-icon-count-start, 1) * (var(--control-icon-size) + var(--control-icon-gap)) - var(--control-icon-gap));
  --control-end: calc(var(--control-icon-count-end, 1) * (var(--control-icon-size) + var(--control-icon-gap)) - var(--control-icon-gap));

  &:has(textarea) {
    :where(.me-auto), :where(.ms-auto) {
      align-self: start;
    }
  }

  &:has(.me-auto) {
    --control-padding-inline-start: calc(var(--control-start) + var(--control-padding-inline));
  }

  &:has(.ms-auto) {
    --control-padding-inline-end: calc(var(--control-end) + var(--control-padding-inline));
  }

  &:has(.me-auto > *:nth-child(2)) {
    --control-icon-count-start: 2;
  }

  &:has(.ms-auto > *:nth-child(2)) {
    --control-icon-count-end: 2;
  }

  :where(.me-auto), :where(.ms-auto) {
    gap: var(--control-icon-gap);
    display: flex;
    align-items: center;
  }
}
