.control {
  --control-s: calc(var(--control-icon-count-s, 1) * (var(--control-icon-size) + var(--control-icon-gap)) - var(--control-icon-gap));
  --control-e: calc(var(--control-icon-count-e, 1) * (var(--control-icon-size) + var(--control-icon-gap)) - var(--control-icon-gap));

  &:has(textarea) {
    :where(.me-auto), :where(.ms-auto) {
      align-self: start;
    }
  }

  &:has(.me-auto) {
    --control-ps: calc(var(--control-s) + var(--control-px));
  }

  &:has(.ms-auto) {
    --control-pe: calc(var(--control-e) + var(--control-px));
  }

  &:has(.me-auto > *:nth-child(2)) {
    --control-icon-count-s: 2;
  }

  &:has(.ms-auto > *:nth-child(2)) {
    --control-icon-count-e: 2;
  }

  :where(.me-auto), :where(.ms-auto) {
    gap: var(--control-icon-gap);
    display: flex;
    align-items: center;
  }
}
