.control {
  transition-property: var(--default-transition-property);
  transition-timing-function: var(--transition-timing-function-in-out);
  transition-duration: var(--default-transition-duration);

  &:focus-within {
    --control-border-color: var(--control-focus-border-color, var(--color-accent));
    --control-border-color-opacity: var(--control-focus-border-color-opacity, 100%);
    --control-outline-offset: var(--control-focus-outline-offset);
    --control-outline-color-opacity: var(--control-focus-outline-color-opacity, 20%);
  }

  &.disabled, &:has(:where(input, textarea, select):disabled) {
    --control-background-color: var(--control-disabled-background-color, currentColor);
    --control-background-color-opacity: var(--control-disabled-background-color-opacity, 5%);
    --control-border-color: var(--control-disabled-border-color, currentColor);
    --control-border-color-opacity: var(--control-disabled-border-color-opacity);
  }
}
