.control:has(select:not([multiple])) {
  --control-padding-inline-end: calc(var(--control-end) + var(--control-padding-inline) + var(--control-select-icon-margin-inline-end));

  &:has(.ms-auto) {
    --control-icon-count-end: 2;
  }

  &::after {
    inline-size: var(--control-select-icon-size);
    block-size: var(--control-select-icon-size);
    mask: var(--mask-angle-down);
    margin-inline: auto var(--control-select-icon-margin-inline-end);
    grid-area: control-padding;
    background-color: currentColor;
    pointer-events: none;
    align-self: center;
    content: "";
  }

  :where(.ms-auto) {
    margin-inline-end: var(--control-select-icon-size);
  }
}
