.x-control:has(select:not([multiple])) {
  &::after {
    will-change: transform;
    transition: var(--transition-transform);
  }

  &:has(select:open) {
    &::after {
      transform: rotate(180deg);
    }
  }

  select {
    &, &::picker(select) {
      appearance: base-select;
    }

    &::picker-icon {
      display: none;
    }

    &::picker(select) {
      border-radius: var(--x-control-select-picker-border-radius);
      border:
        var(--x-control-select-picker-border-width) solid
        color-mix(
          in var(--x-control-select-picker-border-color-space, srgb),
          var(--x-control-select-picker-border-color) var(--x-control-select-picker-border-color-opacity, 15%),
          var(--x-control-select-picker-border-color-mix, transparent)
        );
      background-color: var(--x-control-select-picker-background-color);
      margin-block: var(--x-control-select-picker-margin-block);
      padding-block: var(--x-control-select-picker-padding-block);
      padding-inline: var(--x-control-select-picker-padding-inline);
      gap: var(--x-control-select-picker-gap);
      display: flex;
      flex-direction: column;
      cursor: auto;
      transform-origin: top center;
      scrollbar-width: thin;
      scrollbar-color: var(--x-control-select-picker-scrollbar-color);
      will-change: transform, opacity;
      transition:
        opacity var(--default-transition-duration) var(--ease-in-out),
        transform var(--default-transition-duration) var(--ease-out),
        display var(--default-transition-duration) allow-discrete,
        overlay var(--default-transition-duration) allow-discrete;
    }

    &:not(:open)::picker(select) {
      opacity: 0%;
      transform: scale(0.9);
      display: revert;
    }

    &:open::picker(select) {
      opacity: 100%;
      transform: scale(1);

      @starting-style {
        opacity: 0%;
        transform: scale(0.95);
      }
    }

    option {
      padding-block: var(--x-control-select-option-padding-block);
      padding-inline: var(--x-control-select-option-padding-inline);
      font-size: var(--x-control-select-option-font-size);
      font-weight: var(--x-control-select-option-font-weight);
      line-height: var(--x-control-select-option-line-height);
      border-radius: var(--x-control-select-option-border-radius);
      transition: var(--transition-background), var(--transition-color);

      &::checkmark {
        display: none;
      }

      &:hover, &:focus-visible {
        background-color: var(--x-control-select-option-hocus-background-color);
      }

      &:checked {
        color: var(--x-control-select-option-checked-color, var(--color-accent));
        background-color:
          color-mix(
            in var(--x-control-select-option-checked-background-color-space, srgb),
            var(--x-control-select-option-checked-background-color, var(--color-accent)) var(--x-control-select-option-checked-background-color-opacity, 10%),
            var(--x-control-select-option-checked-background-color-mix, transparent)
          );
      }
    }
  }
}
