.x-control {
  &:has([autocomplete="tel-country-code"]) {
    :where(select) {
      @media not (scripting: none) {
        font-size: 0;
      }

      + :where(span) {
        pointer-events: none;

        @media (scripting: none) {
          display: none;
        }
      }

      :where(option) {
        &::before {
          content: attr(data-icon);
          margin-inline-end: 0.5ch;
        }
      }
    }
  }
}