.ui-range {
  --ui-range-thumb-bg: var(--color-accent);
  --ui-range-thumb-border-color: var(--ui-range-thumb-bg);
  --ui-range-track-bg: var(--color-accent);
  --ui-range-track:
    linear-gradient(
      to right,
      var(--ui-range-track-bg) 0%,
      var(--ui-range-track-bg) var(--ui-range-track-start),
      transparent var(--ui-range-track-start),
      transparent var(--ui-range-track-end)
    );

  min-block-size: var(--ui-range-thumb-size);
  display: grid;

  :where(input) {
    --tw-bg-opacity: 0.1;
    --tw-bg-mix: var(--color-body);

    block-size: var(--ui-range-track-height);
    background-color: color-mix(in var(--default-color-space), var(--color-accent) calc(var(--tw-bg-opacity) * 100%), var(--tw-bg-mix));
    position: relative;
    grid-area: 1/1;

    &::-webkit-slider-runnable-track {
      block-size: var(--ui-range-track-height);
      border-radius: var(--rounded-full);
      background: var(--ui-range-track);
    }

    &::-moz-range-track {
      block-size: var(--ui-range-track-height);
      border-radius: var(--rounded-full);
      background: var(--ui-range-track);
    }

    &::-webkit-slider-thumb {
      --tw-outline-opacity: var(--ui-range-thumb-outline-opacity);

      width: var(--ui-range-thumb-size);
      height: var(--ui-range-thumb-size);
      background-color: var(--ui-range-thumb-bg);
      border-radius: var(--rounded-full);
      border: var(--ui-range-thumb-border-width) solid var(--ui-range-thumb-border-color);
      outline:
        var(--ui-range-thumb-outline-width) solid
        color-mix(
          in var(--default-color-space),
          var(--ui-range-thumb-bg) calc(var(--tw-outline-opacity) * 100%),
          transparent
        );
      margin-block-start: calc((var(--ui-range-thumb-size) - var(--ui-range-track-height)) / 2 * -1);
      transition: outline-color var(--default-transition-duration), outline-offset var(--default-transition-duration);
      cursor: var(--ui-range-thumb-cursor, grab);
      appearance: none;
      pointer-events: auto;

      &:active {
        --ui-range-thumb-cursor: grabbing;
        --tw-outline-opacity: var(--ui-range-thumb-focus-outline-opacity);
      }
    }

    &::-moz-range-thumb {
      --tw-outline-opacity: var(--ui-range-thumb-outline-opacity);

      width: var(--ui-range-thumb-size);
      height: var(--ui-range-thumb-size);
      background-color: var(--ui-range-thumb-bg);
      border-radius: var(--rounded-full);
      border: var(--ui-range-thumb-border-width) solid var(--ui-range-thumb-border-color);
      outline:
        var(--ui-range-thumb-outline-width) solid
        color-mix(
          in var(--default-color-space),
          var(--ui-range-thumb-bg) calc(var(--tw-outline-opacity) * 100%),
          transparent
        );
      transition: outline-color var(--default-transition-duration), outline-offset var(--default-transition-duration);
      cursor: var(--ui-range-thumb-cursor, grab);
      appearance: none;
      pointer-events: auto;

      &:active {
        --ui-range-thumb-cursor: grabbing;
        --tw-outline-opacity: var(--ui-range-thumb-focus-outline-opacity);
      }
    }

    &:focus-visible {
      &::-webkit-slider-thumb {
        --tw-outline-opacity: var(--ui-range-thumb-focus-outline-opacity);
      }

      &::-moz-range-thumb {
        --tw-outline-opacity: var(--ui-range-thumb-focus-outline-opacity);
      }
    }
  }
}
