:root, :host {
  --ui-range-track-height: 0.375rem;
  --ui-range-thumb-size: 1.125rem;
  --ui-range-thumb-border-width: 0;
  --ui-range-thumb-outline-width: 2px;
  --ui-range-thumb-focus-outline-opacity: 0.5;
}
