:root, :host {
  --ui-range-thumb-size: 1.125rem;
  --ui-range-thumb-border-width: 0;
  --ui-range-track-direction: right;
  --ui-range-track-height: 0.375rem;
  --ui-range-track-outline-width: 2px;
  --ui-range-track-outline-opacity: 50%;
}
