.c-toaster {
  z-index: var(--z-50);
  padding: var(--c-toaster-p);
  margin-block: calc(var(--c-toaster-spacing-y) * -1);
  position: fixed;
  inset: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
