.x-toaster {
  z-index: var(--x-toaster-z-index, var(--z-index-50));
  padding: var(--x-toaster-padding);
  margin-block: calc(var(--x-toaster-margin-block) * -1);
  position: fixed;
  inset: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
