.c-table {
  max-width: 100%;
  border-radius: var(--c-table-border-radius);
  background-color: var(--color-body-primary);
  overflow: auto;

  :where(table) {
    inline-size: 100%;
    vertical-align: middle;
    background-color: inherit;
  }

  :where(thead tr:not(:first-child), tbody tr, tfoot tr) {
    border-block-start: var(--c-table-cell-border-block-width) solid var(--color-body-tertiary);
  }

  :where(td, th) {
    padding: var(--c-table-cell-spacing-y) var(--c-table-cell-spacing-x);
    height: var(--c-table-cell-height);
    border-color: var(--color-body-tertiary);
    border-inline-width: var(--c-table-cell-border-inline-width, 0);

    &:first-child {
      padding-inline-start: var(--c-table-px);
      border-inline-start: 0;
    }

    &:last-child {
      padding-inline-end: var(--c-table-px);
      border-inline-end: 0;
    }
  }
}
