.c-table {
  :where(tbody:first-child, tfoot:first-child) {
    :where(tr:first-child) {
      &, :where(th,td):where(:first-child) {
        border-start-start-radius: var(--c-table-border-radius);
      }

      &, :where(th,td):where(:last-child) {
        border-start-end-radius: var(--c-table-border-radius);
      }
    }
  }

  :where(tbody:last-child, tfoot:last-child) {
    :where(tr:last-child) {
      &, :where(th,td):where(:first-child) {
        border-end-start-radius: var(--c-table-border-radius);
      }

      &, :where(th,td):where(:last-child) {
        border-end-end-radius: var(--c-table-border-radius);
      }
    }
  }

  :where(tr, th, td):where([tabindex="0"]), :where(.outline) {
    transition: var(--transition-all);
    outline: var(--c-table-outline-width) solid transparent;
    outline-offset: calc(var(--c-table-outline-width) * -1);

    &:is(:hover, :focus-visible, .active) {
      --tw-bg-opacity: var(--c-table-outline-bg-opacity);
      --tw-bg-mix: transparent;

      background-color: color-mix(in var(--space), var(--c-table-outline-color) calc(var(--tw-bg-opacity) * 100%), var(--tw-bg-mix));
      outline-color: var(--c-table-outline-color);
    }
  }
}
