.ui-badge {
  &:where(.bordered) {
    --tw-border-opacity: 1;

    border: var(--ui-badge-border-width, 1px) solid color-mix(in var(--space), var(--color-accent) calc(var(--tw-border-opacity) * 100%), transparent);
    padding-inline: calc(var(--ui-badge-px) - var(--ui-badge-border-width, 1px));
  }

  &:is(.bordered) {
    --color-accent-foreground: var(--color-accent);
    --tw-bg-opacity: 0;
  }
}
