.ui-badge {
  &:where(.bordered) {
    --ui-badge-border-width: 1px;
    --tw-border-opacity: 1;

    border: var(--ui-badge-border-width) solid color-mix(in var(--space), var(--ui-badge-border-color, var(--color-accent)) calc(var(--tw-border-opacity) * 100%), transparent);
    padding-inline: calc(var(--ui-badge-px) - var(--ui-badge-border-width));
  }

  &:is(.bordered) {
    --ui-badge-color: var(--color-accent);
    --tw-bg-opacity: 0;
  }
}
