.ui-badge {
  --color-current: var(--color-accent-current);
  --ui-badge-width: max-content;
  --ui-badge-height: 1.5rem;
  --ui-badge-py: 0;
  --ui-badge-px: 0.5rem;
  --ui-badge-border-radius: var(--rounded-xs);
  --ui-badge-font-size: 0.75rem;
  --ui-badge-font-weight: var(--font-normal);
  --ui-badge-bg: color-mix(in sRGB, var(--color-accent) var(--ui-badge-bg-opacity), var(--ui-badge-bg-mix));
  --ui-badge-bg-mix: transparent;
  --ui-badge-bg-opacity: calc(var(--tw-bg-opacity, 1) * 100%);
  --ui-badge-color: color-mix(in sRGB, var(--color-current) var(--ui-badge-color-opacity), transparent);
  --ui-badge-color-opacity: calc(var(--tw-text-opacity, 1) * 100%);
  --ui-badge-gap: 0.25rem;

  width: var(--ui-badge-width);
  height: var(--ui-badge-height);
  padding: var(--ui-badge-py) var(--ui-badge-px);
  border-radius: var(--ui-badge-border-radius);
  font-size: var(--ui-badge-font-size);
  font-weight: var(--ui-badge-font-weight);
  background-color: var(--ui-badge-bg);
  color: var(--ui-badge-color);
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 0;
  gap: var(--ui-badge-gap);
  transition: var(--transition-opacity);

  &:where(.bordered, .muted) {
    --color-current: var(--color-accent);
    --ui-badge-bg-opacity: 0%;
  }
}
