.ui-badge {
  --color-current: var(--color-accent-fg);
  --ui-badge-height: 1.5rem;
  --ui-badge-py: 0;
  --ui-badge-px: 0.5rem;
  --ui-badge-bg: color-mix(in sRGB, var(--color-accent) var(--ui-badge-bg-opacity), var(--ui-badge-bg-mix, transparent));
  --ui-badge-bg-opacity: calc(var(--tw-bg-opacity, 1) * 100%);
  --ui-badge-color: color-mix(in sRGB, var(--color-current) var(--ui-badge-color-opacity), transparent);
  --ui-badge-color-opacity: calc(var(--tw-text-opacity, 1) * 100%);

  width: var(--ui-badge-width, auto);
  height: var(--ui-badge-height);
  padding: var(--ui-badge-py) var(--ui-badge-px);
  border-radius: var(--ui-badge-border-radius, var(--rounded-lg));
  font-family: var(--ui-badge-font-family, inherit);
  font-weight: var(--ui-badge-font-weight, inherit);
  font-size: var(--ui-badge-font-size, var(--text-xs));
  letter-spacing: var(--ui-badge-letter-spacing, inherit);
  background-color: var(--ui-badge-bg);
  color: var(--ui-badge-color);
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
  gap: var(--ui-badge-gap, var(--spacing-xs));
  transition: var(--transition-opacity);
}
