.c-tooltip {
  position: relative;
  display: inline-block;

  &::before {
    --tw-content: attr(aria-label);

    content: var(--tw-content);
    opacity: var(--tw-opacity);
    visibility: var(--tw-visibility);
    transform:
      translate(var(--tw-translate-x), var(--tw-translate-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: var(--default-transition-property);
    transition-timing-function: var(--transition-timing-function-in-out);
    transition-duration: var(--default-transition-duration);
    will-change: transform;
    background-color: var(--c-tooltip-bg);
    color: var(--c-tooltip-color);
    border-radius: var(--c-tooltip-border-radius);
    font-size: var(--c-tooltip-font-size);
    padding: var(--c-tooltip-py) var(--c-tooltip-px);
    z-index: var(--z-index-20);
    width: max-content;
    position: absolute;
    pointer-events: none;
  }

  &:where(.top), &:where(.bottom) {
    &::before {
      --tw-translate-x: -50%;

      margin-block: var(--c-tooltip-margin-block);
      inset-inline-start: 50%;
    }
  }

  &:where(.left), &:where(.right) {
    &::before {
      --tw-translate-y: -50%;

      margin-inline: var(--c-tooltip-margin-inline);
      inset-block-start: 50%;
    }
  }

  &:where(.bottom) {
    &::before {
      inset-block-start: 100%;
      transform-origin: top;
    }
  }

  &:where(.top) {
    &::before {
      inset-block-end: 100%;
      transform-origin: bottom;
    }
  }

  &:where(.left) {
    &::before {
      inset-inline-end: 100%;
      transform-origin: right;
    }
  }

  &:where(.right) {
    &::before {
      inset-inline-start: 100%;
      transform-origin: left;
    }
  }

  &:not(:hover, :focus)::before {
    --tw-scale-x: var(--c-tooltip-scale-x);
    --tw-scale-y: var(--c-tooltip-scale-y);
    --tw-opacity: 0;
    --tw-visibility: hidden;
  }
}
