.c-tooltip {
  position: relative;
  display: inline-block;

  &::before {
    --tw-content: attr(aria-label);

    content: var(--tw-content);
    opacity: var(--tw-opacity);
    visibility: var(--tw-visibility);
    transform:
      translate(var(--tw-translate-x), var(--tw-translate-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: var(--transition);
    transition-timing-function: var(--ease-in-out);
    transition-duration: var(--duration);
    will-change: transform;
    background-color: var(--c-tooltip-bg, var(--color-dark));
    color: var(--c-tooltip-color, var(--color-dark-foreground));
    border-radius: var(--c-tooltip-border-radius, var(--rounded-md));
    font-size: var(--c-tooltip-font-size, var(--text-sm));
    padding: var(--c-tooltip-py, var(--spacing-xs)) var(--c-tooltip-px, var(--spacing-sm));
    z-index: var(--z-20);
    width: max-content;
    position: absolute;
    pointer-events: none;
  }

  &:where(.top), &:where(.bottom) {
    &::before {
      --tw-translate-x: -50%;

      margin-block: var(--c-tooltip-margin-block, var(--spacing-xs));
      inset-inline-start: 50%;
    }
  }

  &:where(.left), &:where(.right) {
    &::before {
      --tw-translate-y: -50%;

      margin-inline: var(--c-tooltip-margin-inline, var(--spacing-xs));
      inset-block-start: 50%;
    }
  }

  &:where(.bottom) {
    &::before {
      inset-block-start: 100%;
      transform-origin: top;
    }
  }

  &:where(.top) {
    &::before {
      inset-block-end: 100%;
      transform-origin: bottom;
    }
  }

  &:where(.left) {
    &::before {
      inset-inline-end: 100%;
      transform-origin: right;
    }
  }

  &:where(.right) {
    &::before {
      inset-inline-start: 100%;
      transform-origin: left;
    }
  }

  &:not(:hover, :focus)::before {
    --tw-scale-x: var(--c-tooltip-scale-x, 0.75);
    --tw-scale-y: var(--c-tooltip-scale-y, 0.75);
    --tw-opacity: 0;
    --tw-visibility: hidden;
  }
}
