.tooltip {
  position: relative;
  display: inline-block;

  &::before {
    --tw-content: attr(aria-label);

    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color);
    border-radius: var(--tooltip-border-radius);
    font-size: var(--tooltip-font-size);
    padding: var(--tooltip-padding-block) var(--tooltip-padding-inline);
    z-index: var(--tooltip-z-index, var(--z-index-20));
    transition-property: var(--default-transition-property);
    transition-timing-function: var(--transition-timing-function-in-out);
    transition-duration: var(--default-transition-duration);
    content: var(--tw-content);
    opacity: var(--tw-opacity);
    visibility: var(--tw-visibility);
    transform:
      translate(var(--tw-translate-x), var(--tw-translate-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    will-change: transform;
    inline-size: max-content;
    position: absolute;
    pointer-events: none;
  }

  &:where(.top), &:where(.bottom) {
    &::before {
      --tw-translate-x: -50%;

      margin-block: var(--tooltip-margin-block);
      inset-inline-start: 50%;
    }
  }

  &:where(.left), &:where(.right) {
    &::before {
      --tw-translate-y: -50%;

      margin-inline: var(--tooltip-margin-inline);
      inset-block-start: 50%;
    }
  }

  &:where(.bottom) {
    &::before {
      inset-block-start: 100%;
      transform-origin: top;
    }
  }

  &:where(.top) {
    &::before {
      inset-block-end: 100%;
      transform-origin: bottom;
    }
  }

  &:where(.left) {
    &::before {
      inset-inline-end: 100%;
      transform-origin: right;
    }
  }

  &:where(.right) {
    &::before {
      inset-inline-start: 100%;
      transform-origin: left;
    }
  }

  &:not(:hover, :focus)::before {
    --tw-scale-x: var(--tooltip-scale-x);
    --tw-scale-y: var(--tooltip-scale-y);
    --tw-opacity: 0;
    --tw-visibility: hidden;
  }
}
