:root,
:host {
  --x-text-content-bold: var(--font-weight-semibold);
  --x-text-list-marker-size: 0.375em;
  --x-text-content-margin-block: 1.5em;
  --x-text-heading-margin-block: var(--x-text-content-margin-block) calc(var(--x-text-content-margin-block) * 0.5);
  --x-text-heading-line-height: calc(1em + 0.25rem);
  --x-text-img-border-radius: var(--radius-2xl);
}
