:root, :host {
  --x-toast-content-border-radius: var(--radius-2xl);
  --x-toast-content-padding-block: var(--spacing-md);
  --x-toast-content-padding-inline: var(--spacing-lg);
  --x-toast-content-gap: var(--spacing-xl);
  --x-toast-content-background-color: var(--color-body-primary);
}
