:root, :host {
  --x-toast-content-border-radius: var(--radius-2xl);
  --x-toast-content-padding-block: var(--spacing-3);
  --x-toast-content-padding-inline: var(--spacing-4);
  --x-toast-content-gap: var(--spacing-5);
  --x-toast-content-background-color: var(--color-body-primary);
}
