:root, :host {
  --x-toast-content-border-radius: var(--radius-2xl);
  --x-toast-content-padding-block: calc(var(--spacing) * 3);
  --x-toast-content-padding-inline: calc(var(--spacing) * 4);
  --x-toast-content-gap: calc(var(--spacing) * 5);
  --x-toast-content-background-color: var(--color-body-primary);
}
