:root {
  --font-default: ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: var(--font-default);
  --font-secondary: var(--font-default);
}

:root {
  --color-google: 49 45 45;
  --color-linkedin: 40 103 178;
  --color-youtube: 255 0 0;
  --color-instagram: 193 53 132;
  --color-twitter: 29 161 242;
  --color-facebook: 24 119 242;
  --color-apple: 0 0 0;
}

:root {
  --container-width: 80rem;
  --container-width-sm: 58rem;
  --container-padding: 5vw;
  --container-padding-calc: max(calc(50vw - (var(--container-width) / 2) + var(--container-padding)), var(--container-padding));
}

:root {
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-normal: 400;
  --font-light: 300;
  --font-thin: 200;
}

:root {
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
}

:root {
  --rounded: 0.75rem;
  --rounded-xs: 0.5rem;
  --rounded-sm: 0.875rem;
  --rounded-base: 1rem;
  --rounded-md: 1.125rem;
  --rounded-lg: 1.5rem;
  --rounded-xl: 3rem;
  --rounded-2xl: 6rem;
  --rounded-3xl: 8rem;
  --rounded-full: 9999px;
}

:root {
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.875rem;
  --spacing-base: 1rem;
  --spacing-md: 1.125rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 6rem;
  --spacing-3xl: 8rem;
}

:root {
  --transition-duration: 0.15s;
  --transition-color: color var(--transition-duration) ease;
  --transition-background: background var(--transition-duration) ease;
  --transition-opacity: opacity var(--transition-duration) ease;
  --transition-transform: transform var(--transition-duration) ease;
  --transition-border: border-color var(--transition-duration) ease;
  --transition-shadow: box-shadow var(--transition-duration) ease;

  @media (prefers-reduced-motion) {
    --transition-duration: 0;
  }
}
