:root, :host {
  --font-default: ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: var(--font-default);
  --font-secondary: var(--font-default);
}

:root, :host {
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-normal: 400;
  --font-light: 300;
  --font-thin: 200;
}

:root, :host {
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
}

:root, :host {
  --rounded: var(--rounded-xl);
  --rounded-xs: 0.125rem;
  --rounded-sm: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-4xl: 1.875rem;
  --rounded-5xl: 2.25rem;
  --rounded-6xl: 3rem;
  --rounded-full: 9999px;
}

:root, :host {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.875rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.25rem;
  --spacing-2xl: 1.5rem;
  --spacing-3xl: 1.875rem;
  --spacing-4xl: 2.25rem;
  --spacing-5xl: 3rem;
  --spacing-6xl: 3.75rem;
}

:root, :host {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

:root, :host {
  --container-width: 80rem;
  --container-width-sm: 58rem;
  --container-padding: 5vw;
  --container-padding-calc: max(calc(50vw - (var(--container-width) / 2) + var(--container-padding)), var(--container-padding));
}

:root, :host {
  --transition-duration: 0.15s;
  --transition-color: color var(--transition-duration) ease;
  --transition-background: background var(--transition-duration) ease;
  --transition-opacity: opacity var(--transition-duration) ease;
  --transition-transform: transform var(--transition-duration) ease;
  --transition-border: border-color var(--transition-duration) ease;
  --transition-shadow: box-shadow var(--transition-duration) ease;

  @media (prefers-reduced-motion) {
    --transition-duration: 0;
  }
}
