::after, ::before {
  --tw-content: "";
}

:where(*),
:where(*)::before,
:where(*)::after {
  border: 0 solid currentColor;
}

::selection {
  color: var(--color-light);
  background-color: var(--color-accent);
}

:where(svg) {
  stroke-width: 1.5;
}

:where(svg:not([width])) {
  width: 1.25rem;
}

:where(svg:not([height])) {
  height: 1.25rem;
}

:where(button) {
  cursor: pointer;
}

:where(hr) {
  border-top: 1px solid var(--color-body-tertiary);
  border-radius: var(--rounded);
  width: 100%;
}

:where(code) {
  padding: var(--spacing-xs) var(--spacing-sm);
  background: var(--color-body-secondary);
  border-radius: var(--rounded-sm);
  color: var(--color-accent);
}

:where(kbd) {
  padding: var(--spacing-xs) var(--spacing-sm);
  background: var(--color-body-secondary);
  border-radius: var(--rounded-sm);
  border: 1px solid var(--color-body-tertiary);
}

:where(:not(pre) > code, kbd) {
  white-space: nowrap;
}

:where(pre > code) {
  display: block;
  margin: 0;
}

:where(html) {
  color-scheme: var(--color-scheme);
  font-family: var(--font-primary);
  font-weight: var(--font-normal);
  block-size: 100%;
  line-height: 1.5;
  text-size-adjust: 100%;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

:where(body) {
  min-block-size: 100%;
  background-color: var(--color-body);
  color: var(--color-main);
  accent-color: var(--color-accent);
}
