::selection {
  color: var(--color-light);
  background-color: var(--color-accent);
}

:where(*) {
  outline: none;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
}

:where(svg) {
  stroke-width: 1.5;
  width: 1em;
  height: 1em;
}

:where(button) {
  cursor: pointer;
}

:where(hr) {
  display: block;
  border-top: 2px solid rgb(var(--color-current) / var(--tw-border-opacity, 1));
  border-radius: var(--rounded);
}

:where(html) {
  font-family: var(--font-primary);
  font-weight: var(--font-normal);
  height: 100%;
  line-height: 1.5;
  cursor: default;
}

:where(body) {
  min-height: 100%;
  background-color: var(--color-body);
  color: var(--color-base);
  accent-color: var(--color-accent);
}
