::selection {
  color: rgb(var(--color-light));
  background-color: rgb(var(--color-accent));
}

:where(*) {
  outline: none;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0);
}

:where([hidden]) {
  display: none;
}

:where(svg) {
  stroke-width: 1.5;
}

:where(hr) {
  display: block;
  border-top: 2px solid rgb(var(--color-current) / var(--tw-border-opacity, 1));
  border-radius: var(--rounded);
}

:where(html) {
  font-family: var(--font-primary);
  font-weight: var(--font-normal);
  height: 100%;
  line-height: 1.5;
  cursor: default;
}

:where(body) {
  min-height: 100%;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-default));
  accent-color: rgb(var(--color-accent));
}
