@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0%;
  }
}

@keyframes move-indeterminate {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
}
