.link {
  &:where(:any-link, button:enabled, [role="button"]) {
    transition: all var(--default-transition-duration) var(--transition-timing-function-in-out);

    &:is(:hover, :focus-visible) {
      color: var(--link-hover-color, var(--color-accent))
    }
  }
}
