.ui-btn {
  &:where(.bordered) {
    --ui-btn-border-width: 1px;
    --ui-btn-border-color: var(--color-accent);
    --tw-border-opacity: 0.3;
    --tw-border-mix: transparent;

    border: var(--ui-btn-border-width) solid color-mix(in var(--default-color-space), var(--ui-btn-border-color) calc(var(--tw-border-opacity) * 100%), var(--tw-border-mix));
    padding-inline: calc(var(--ui-btn-px) - var(--ui-btn-border-width));
  }

  &:is(.bordered) {
    --ui-btn-hover-bg-mix: transparent;
    --ui-btn-hover-bg-opacity: 0.1;
    --ui-btn-active-bg-mix: transparent;
    --ui-btn-active-bg-opacity: 0.2;
    --ui-btn-focus-outline-offset: -2px;
    --ui-btn-color: var(--color-accent);
    --tw-bg-opacity: 0;
  }
}
