.ui-btn {
  --ui-btn-accent-color: var(--color-accent);
  --ui-btn-accent-color-foreground: var(--color-accent-foreground);
  --tw-bg-opacity: 1;
  --tw-bg-mix: transparent;
  --tw-text-opacity: 1;
  --tw-text-mix: transparent;
  --tw-outline-opacity: 0;
  --tw-outline-mix: transparent;

  inline-size: var(--ui-btn-width);
  block-size: var(--ui-btn-height);
  padding: var(--ui-btn-py) var(--ui-btn-px);
  border-radius: var(--ui-btn-border-radius);
  font-family: var(--ui-btn-font-family);
  font-size: var(--ui-btn-font-size);
  font-weight: var(--ui-btn-font-weight);
  letter-spacing: var(--ui-btn-letter-spacing);
  background-color: color-mix(in var(--space), var(--ui-btn-accent-color) calc(var(--tw-bg-opacity) * 100%), var(--tw-bg-mix));
  color: color-mix(in var(--space), var(--ui-btn-accent-color-foreground) calc(var(--tw-text-opacity) * 100%), var(--tw-text-mix));
  outline:
      var(--ui-btn-outline-width) solid
      color-mix(
          in var(--space),
          var(--ui-btn-accent-color) calc(var(--tw-outline-opacity) * 100%),
          var(--tw-outline-mix)
      );
  outline-offset: var(--ui-btn-outline-offset);
  gap: var(--ui-btn-gap);
  user-select: none;
  overflow: clip;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 1;
  flex-shrink: 0;
  z-index: 0;

  &:where(input)::after {
    content: attr(aria-label);
  }
}
