:root, :host {
  --ui-btn-border-radius: var(--radius);
  --ui-btn-font-size: var(--font-size-sm);
  --ui-btn-font-weight: var(--font-weight-medium);
  --ui-btn-gap: var(--spacing-sm);
  --ui-btn-outline-width: 2px;
  --ui-btn-height: 2.25rem;
  --ui-btn-py: 0.375rem;
  --ui-btn-px: 0.75rem;
}
