.ui-btn {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --color-current: var(--color-accent-foreground);
  --ui-btn-height: 2.25rem;
  --ui-btn-py: 0.375rem;
  --ui-btn-px: 0.75rem;
  --ui-btn-bg: color-mix(in var(--space), var(--color-accent) var(--ui-btn-bg-opacity), var(--ui-btn-bg-mix, transparent));
  --ui-btn-bg-opacity: calc(var(--tw-bg-opacity) * 100%);
  --ui-btn-color: color-mix(in var(--space), var(--color-current) var(--ui-btn-color-opacity), transparent);
  --ui-btn-color-opacity: calc(var(--tw-text-opacity) * 100%);

  width: var(--ui-btn-width, auto);
  height: var(--ui-btn-height);
  padding: var(--ui-btn-py) var(--ui-btn-px);
  border-radius: var(--ui-btn-border-radius, var(--rounded));
  font-size: var(--ui-btn-font-size, var(--text-sm));
  font-weight: var(--ui-btn-font-weight, var(--font-medium));
  letter-spacing: var(--ui-btn-letter-spacing, 0);
  background-color: var(--ui-btn-bg);
  color: var(--ui-btn-color);
  user-select: none;
  overflow: hidden;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: relative;
  flex-shrink: 0;
  z-index: 0;
  gap: var(--ui-btn-gap, 0.375rem);
  outline: var(--ui-btn-outline-width, 2px) solid transparent;
  outline-offset: 0;

  &:where([class*="accent-main"]) {
    --ui-btn-hover-bg-mix: var(--color-main-foreground);
  }

  &:where([class*="accent-body"]) {
    --ui-btn-hover-bg-mix: var(--color-body-foreground);
  }

  &:where(input)::after {
    content: attr(aria-label);
  }
}
