.ui-btn {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-bg-mix: transparent;
  --tw-bg-space: var(--space);
  --tw-text-space: var(--space);

  width: var(--ui-btn-width);
  height: var(--ui-btn-height);
  padding: var(--ui-btn-py) var(--ui-btn-px);
  border-radius: var(--ui-btn-border-radius, var(--rounded));
  font-size: var(--ui-btn-font-size, var(--text-sm));
  font-weight: var(--ui-btn-font-weight, var(--font-medium));
  letter-spacing: var(--ui-btn-letter-spacing, 0);
  background-color: color-mix(in var(--tw-bg-space), var(--ui-btn-bg, var(--color-accent)) calc(var(--tw-bg-opacity) * 100%), var(--tw-bg-mix));
  color: color-mix(in var(--tw-text-space), var(--ui-btn-color, var(--color-accent-foreground)) calc(var(--tw-text-opacity) * 100%), transparent);
  gap: var(--ui-btn-gap, var(--spacing-sm));
  outline: var(--ui-btn-outline-width, 2px) solid transparent;
  outline-offset: 0;
  user-select: none;
  overflow: hidden;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: relative;
  flex-shrink: 0;
  z-index: 0;

  &:where(.accent-main) {
    --ui-btn-hover-bg-mix: var(--color-main-foreground);
  }

  &:where(.accent-body) {
    --ui-btn-hover-bg-mix: var(--color-body-foreground);
  }

  &:where(.accent-light) {
    --ui-btn-hover-bg-mix: var(--color-light-foreground);
  }

  &:where(.accent-dark) {
    --ui-btn-hover-bg-mix: var(--color-dark-foreground);
  }

  &:where(input)::after {
    content: attr(aria-label);
  }
}
