.ui-btn {
  --color-current: var(--color-light);
  --ui-btn-width: max-content;
  --ui-btn-height: 2.25rem;
  --ui-btn-gap: 0.375rem;
  --ui-btn-py: 0.375rem;
  --ui-btn-px: 0.75rem;
  --ui-btn-border-radius: var(--rounded);
  --ui-btn-font-size: 0.875rem;
  --ui-btn-font-weight: var(--font-medium);
  --ui-btn-letter-spacing: 0;
  --ui-btn-bg: color-mix(in sRGB, var(--color-accent) var(--ui-btn-bg-opacity), var(--ui-btn-bg-mix));
  --ui-btn-bg-mix: transparent;
  --ui-btn-bg-opacity: calc(var(--tw-bg-opacity, 1) * 100%);
  --ui-btn-color: color-mix(in sRGB, var(--color-current) var(--ui-btn-color-opacity), transparent);
  --ui-btn-color-opacity: calc(var(--tw-text-opacity, 1) * 100%);
  --ui-btn-outline-width: 2px;
  --ui-btn-outline-offset: 2px;
  --ui-btn-outline-opacity: 50%;
  --ui-btn-hover-mix: black;
  --ui-btn-hover-opacity: 80%;
  --ui-btn-hover-color: var(--color-current);
  --ui-btn-active-mix: black;
  --ui-btn-active-opacity: 90%;
  --ui-btn-active-color: var(--color-current);
  --ui-btn-focus-mix: transparent;
  --ui-btn-focus-opacity: 50%;
  --ui-btn-disabled-opacity: 70%;
  --ui-btn-loading-width: 1rem;
  --ui-btn-loading-border-width: 2px;

  max-width: var(--ui-btn-width);
  width: var(--ui-btn-width);
  height: var(--ui-btn-height);
  padding: var(--ui-btn-py) var(--ui-btn-px);
  border-radius: var(--ui-btn-border-radius);
  font-size: var(--ui-btn-font-size);
  font-weight: var(--ui-btn-font-weight);
  letter-spacing: var(--ui-btn-letter-spacing);
  background-color: var(--ui-btn-bg);
  color: var(--ui-btn-color);
  user-select: none;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
  z-index: 0;
  transition:
    var(--transition-background),
    var(--transition-color),
    outline-color var(--transition-duration),
    outline-offset var(--transition-duration);
  gap: var(--ui-btn-gap);
  outline: var(--ui-btn-outline-width) solid transparent;
  outline-offset: 0;

  & :where(svg) {
    font-size: 1.25rem;
  }

  &:where(.bordered, .muted, .ghosted) {
    --ui-btn-hover-mix: transparent;
    --ui-btn-hover-opacity: 10%;
    --ui-btn-active-mix: transparent;
    --ui-btn-active-opacity: 20%;
    --color-current: var(--color-accent);
    --ui-btn-bg-opacity: 0%;
  }

  &:is([href], button, [role="button"]) {
    &:disabled {
      opacity: var(--ui-btn-disabled-opacity);
      cursor: not-allowed;
    }

    &:not(:disabled) {
      &:hover {
        @media (hover: hover) and (pointer: fine) {
          --ui-btn-color: var(--ui-btn-hover-color);
          --ui-btn-bg-mix: var(--ui-btn-hover-mix);
          --ui-btn-bg-opacity: var(--ui-btn-hover-opacity);
        }
      }

      &:focus {
        outline-color: color-mix(in sRGB, var(--color-accent) var(--ui-btn-focus-opacity), var(--ui-btn-focus-mix));
        outline-offset: var(--ui-btn-outline-offset);
      }

      &:is(:active, .active) {
        --ui-btn-color: var(--ui-btn-active-color);
        --ui-btn-bg-mix: var(--ui-btn-active-mix);
        --ui-btn-bg-opacity: var(--ui-btn-active-opacity);
      }
    }
  }
}
