:is(.ui-btn.gradient-bordered) {
  --color-body-current-rgb: var(--color-body-current-rgb);

  &::before {
    background-color: rgb(var(--color-body-rgb) / calc(100% - var(--ui-btn-bg-opacity)));
  }

  &:where(.hover-fill) {
    &::before {
      background-color: rgb(var(--color-body-rgb) / var(--ui-btn-bg-opacity));
    }
  }
}
