.ui-btn {
  &:where(.gradient-bordered) {
    &::before {
      content: "";
      position: absolute;
      background-color: color-mix(in var(--space), var(--color-body) calc(100% - var(--tw-bg-opacity) * 100%), transparent);
      inset: var(--ui-btn-border-width);
      border-radius: calc(var(--ui-btn-border-radius) / 1.25);
      z-index: -1;
      transition: var(--transition-background);
    }
  }

  &:is(.gradient-bordered) {
    --ui-btn-hover-bg-mix: transparent;
    --ui-btn-hover-bg-opacity: 0.1;
    --ui-btn-active-bg-mix: transparent;
    --ui-btn-active-bg-opacity: 0.2;
    --ui-btn-focus-outline-offset: 0;
    --ui-btn-border-width: 2px;
    --ui-btn-color: currentColor;
    --tw-bg-opacity: 0;
  }
}
