.ui-btn:where(.gradient) {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color-mix(in var(--default-color-space), var(--tw-bg-mix) calc(100% - var(--tw-bg-opacity) * 100%), transparent);
    z-index: -1;
    transition: var(--transition-background);
  }
}
