.ui-btn:where(.gradient) {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color-mix(in var(--space), var(--ui-btn-bg-mix) calc(100% - var(--ui-btn-bg-opacity)), transparent);
    z-index: -1;
    transition: var(--transition-background);
  }
}
