.ui-btn {
  &:where(.gradient-bordered) {
    &::before {
      --tw-bg-space: var(--space);

      content: "";
      position: absolute;
      background-color: color-mix(in var(--tw-bg-space), var(--color-body) calc(100% - var(--tw-bg-opacity) * 100%), transparent);
      inset: var(--ui-btn-border-width);
      border-radius: calc(var(--ui-btn-border-radius, var(--rounded)) / 1.25);
      z-index: -1;
      transition: var(--transition-background);
    }

    &:where(.hover-fill) {
      &::before {
        background-color: color-mix(in var(--tw-bg-space), var(--color-body) calc(var(--tw-bg-opacity) * 100%), transparent);
      }
    }
  }

  &:is(.gradient-bordered) {
    --ui-btn-border-width: 2px;
    --ui-btn-hover-bg-mix: transparent;
    --ui-btn-hover-bg-opacity: 0.1;
    --ui-btn-active-bg-mix: transparent;
    --ui-btn-active-bg-opacity: 0.2;
    --ui-btn-focus-outline-offset: 0;
    --color-accent-foreground: var(--color-main);
    --tw-bg-opacity: 0;

    &:is(.hover-fill) {
      --tw-bg-opacity: 1;
    }
  }
}
