.ui-btn:where(.hover-fill) {
  --ui-btn-hover-mix: black;
  --ui-btn-hover-opacity: 100%;
  --ui-btn-active-mix: black;
  --ui-btn-active-opacity: 90%;
  --ui-btn-hover-color: var(--color-light);
  --ui-btn-active-color: var(--color-light);
}
