.ui-btn {
  transition-property: var(--transition);
  transition-timing-function: var(--ease-in-out);
  transition-duration: var(--duration);

  &:where(.accent-main) {
    --ui-btn-hover-bg-mix: var(--color-main-foreground);
  }

  &:where(.accent-body) {
    --ui-btn-hover-bg-mix: var(--color-body-foreground);
  }

  &:where(.accent-light) {
    --ui-btn-hover-bg-mix: var(--color-light-foreground);
  }

  &:where(.accent-dark) {
    --ui-btn-hover-bg-mix: var(--color-dark-foreground);
  }

  &:is([href], button, [role="button"], input) {
    cursor: var(--cursor, pointer);

    &:disabled {
      opacity: var(--ui-btn-disabled-opacity);
      cursor: not-allowed;
    }

    &:not(:disabled) {
      &:hover {
        @media (hover: hover) and (pointer: fine) {
          --tw-bg-mix: var(--ui-btn-hover-bg-mix);
          --tw-bg-opacity: var(--ui-btn-hover-bg-opacity);
        }
      }

      &:focus {
        --ui-btn-outline-offset: var(--ui-btn-focus-outline-offset);
        --tw-outline-opacity: var(--ui-btn-focus-outline-opacity);
      }

      &:is(:active, :checked, .active) {
        --tw-bg-mix: var(--ui-btn-active-bg-mix);
        --tw-bg-opacity: var(--ui-btn-active-bg-opacity);
      }
    }
  }
}
