.ui-btn {
  transition-property: var(--default-transition-property);
  transition-timing-function: var(--transition-timing-function-in-out);
  transition-duration: var(--default-transition-duration);

  &:where(.accent-main) {
    --ui-btn-hover-bg-mix: var(--color-main-foreground);
  }

  &:where(.accent-body) {
    --ui-btn-hover-bg-mix: var(--color-body-foreground);
  }

  &:where(.accent-light) {
    --ui-btn-hover-bg-mix: var(--color-light-foreground);
  }

  &:where(.accent-dark) {
    --ui-btn-hover-bg-mix: var(--color-dark-foreground);
  }

  &:is(:any-link, button, [role="button"], input) {
    cursor: var(--cursor, pointer);

    &:disabled {
      opacity: var(--ui-btn-disabled-opacity);
      cursor: not-allowed;
    }

    &:not(:disabled) {
      &:hover {
        @media (hover: hover) and (pointer: fine) {
          --ui-btn-bg: var(--ui-btn-hover-bg, var(--color-accent));
          --ui-btn-border-color: var(--ui-btn-hover-border-color, var(--color-accent));
          --tw-bg-mix: var(--ui-btn-hover-bg-mix);
          --tw-bg-opacity: var(--ui-btn-hover-bg-opacity);
        }
      }

      &:focus {
        --ui-btn-outline-offset: var(--ui-btn-focus-outline-offset);
        --tw-outline-opacity: var(--ui-btn-focus-outline-opacity);
      }

      &:active, &:checked, &.active {
        --ui-btn-bg: var(--ui-btn-active-bg, var(--color-accent));
        --ui-btn-border-color: var(--ui-btn-active-border-color, var(--color-accent));
        --tw-bg-mix: var(--ui-btn-active-bg-mix);
        --tw-bg-opacity: var(--ui-btn-active-bg-opacity);
      }
    }
  }
}
