.ui-btn {
  --ui-btn-hover-color: var(--color-accent-foreground);
  --ui-btn-active-color: var(--color-accent-foreground);
  --tw-outline-opacity: 0;
  --tw-outline-mix: transparent;

  transition-property: var(--transition);
  transition-timing-function: var(--ease-in-out);
  transition-duration: var(--duration);
  outline-color: color-mix(in var(--space), var(--color-accent) calc(var(--tw-outline-opacity) * 100%), var(--tw-outline-mix));
  outline-offset: var(--ui-btn-outline-offset);

  &:is([href], button, [role="button"], input) {
    cursor: var(--cursor, pointer);

    &:disabled {
      opacity: var(--ui-btn-disabled-opacity);
      cursor: not-allowed;
    }

    &:not(:disabled) {
      &:hover {
        @media (hover: hover) and (pointer: fine) {
          --ui-btn-color: var(--ui-btn-hover-color);
          --tw-bg-mix: var(--ui-btn-hover-bg-mix);
          --tw-bg-opacity: var(--ui-btn-hover-bg-opacity);
        }
      }

      &:focus {
        --ui-btn-outline-offset: var(--ui-btn-focus-outline-offset);
        --tw-outline-opacity: var(--ui-btn-focus-outline-opacity);
      }

      &:is(:active, :checked, .active) {
        --ui-btn-color: var(--ui-btn-active-color);
        --tw-bg-mix: var(--ui-btn-active-bg-mix);
        --tw-bg-opacity: var(--ui-btn-active-bg-opacity);
      }
    }
  }
}
