.ui-btn:is(.loading) {
  --ui-btn-loading-width: 1rem;
  --ui-btn-loading-border-width: 2px;

  pointer-events: none;
  color: transparent;

  & > * {
    opacity: 0;
  }

  &::after {
    z-index: 1;
    width: var(--ui-btn-loading-width);
    height: var(--ui-btn-loading-width);
    content: "";
    border: var(--ui-btn-loading-border-width) solid var(--color-accent-foreground);
    border-right-color: transparent;
    border-radius: 50%;
    animation: spin 0.45s infinite linear;
    position: absolute;
    margin-left: calc(var(--ui-btn-loading-width) / 2 * -1);
    margin-top: calc(var(--ui-btn-loading-width) / 2 * -1);
    left: 50%;
    top: 50%;
  }
}
