:is(.ui-btn.outline) {
  --ui-btn-focus-opacity: 0.15;

  outline: var(--ui-btn-outline-width) solid rgb(var(--color-accent) / var(--ui-btn-outline-opacity));
  outline-offset: calc(var(--ui-btn-outline-width) * -1);
}
