.ui-btn:where(.raised) {
  --ui-btn-border-width: 2px;
  --tw-border-opacity: 0.85;

  border: var(--ui-btn-border-width) solid color-mix(in var(--space), var(--color-accent) calc(var(--tw-border-opacity) * 100%), var(--color-accent-foreground));
  padding-inline: calc(var(--ui-btn-px) - var(--ui-btn-border-width));
}
