:root,
:host {
  --container: min(100% - (var(--container-padding) * 2), var(--container-width));
  --container-breakout: min(100% - (var(--container-padding) * 2), var(--container-breakout-width));
  --container-width: 82rem;
  --container-breakout-width: calc(var(--container-width) + 10rem);
  --container-padding: clamp(1.25rem, 7.5cqw - 1.5rem, 4rem);
  --container-padding-calc: max(calc(50cqw - (var(--container-width) / 2)), var(--container-padding));
}
