:root, :host {
  --container: min(100% - (var(--container-padding) * 2), var(--container-width));
  --container-breakout: min(100% - (var(--container-padding) * 2), var(--container-breakout-width));
  --container-width: 80rem;
  --container-breakout-width: calc(var(--container-width) + 10rem);
  --container-padding: 5vw;
  --container-padding-calc: max(calc(50vw - (var(--container-width) / 2)), var(--container-padding));
}
