.ui-progress {
  --tw-bg-opacity: 0.1;
  --tw-bg-mix: var(--color-body);

  inline-size: 100%;
  block-size: var(--ui-progress-height);
  border-radius: var(--ui-progress-border-radius);
  background-color: color-mix(in var(--space), var(--color-accent) calc(var(--tw-bg-opacity) * 100%), var(--tw-bg-mix));
  overflow: clip;

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background-color: var(--color-accent);
  }

  &::-moz-progress-bar {
    background-color: var(--color-accent);
  }

  &:indeterminate {
    animation: 1.5s linear 0s forwards infinite move-indeterminate;
    background-image: linear-gradient(to right, var(--color-accent) 30%, transparent 30%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150% 150%;

    &::-moz-progress-bar {
      background-color: transparent;
    }
  }
}
