.ui-progress {
  --ui-progress-bg: color-mix(in sRGB, var(--color-accent) var(--ui-progress-bg-opacity), var(--color-body));
  --ui-progress-bg-opacity: calc(var(--tw-bg-opacity, 1) * 10%);

  height: var(--ui-progress-height, 1rem);
  border-radius: var(--ui-progress-border-radius, var(--rounded-full));
  background-color: var(--ui-progress-bg);
  width: 100%;
  overflow: clip;

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background-color: var(--color-accent);
  }

  &::-moz-progress-bar {
    background-color: var(--color-accent);
  }

  &:indeterminate {
    animation: 1.5s linear 0s forwards infinite move-indeterminate;
    background-image: linear-gradient(to right, var(--color-accent) 30%, var(--ui-progress-bg) 30%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150% 150%;

    &::-moz-progress-bar {
      background-color: transparent;
    }
  }
}
