.ui-progress {
  --tw-bg-opacity: 0.1;
  --tw-bg-mix: var(--color-body);

  inline-size: 100%;
  block-size: var(--ui-progress-height);
  border-radius: var(--ui-progress-border-radius);
  background-color: color-mix(in var(--space), var(--color-accent) calc(var(--tw-bg-opacity) * 100%), var(--tw-bg-mix));
  position: relative;
  overflow: clip;

  &::-moz-progress-bar {
    background-color: var(--color-accent);
    border-radius: inherit;
  }

  &::-webkit-progress-inner-element {
    border-radius: inherit;
  }

  &::-webkit-progress-bar {
    background-color: transparent;
    border-radius: inherit;
  }

  &::-webkit-progress-value {
    background-color: var(--color-accent);
    border-radius: inherit;
    transition: var(--transition-all);
  }

  &:indeterminate {
    --duration: 1s;

    animation: var(--duration) var(--ease-linear) infinite move-indeterminate;
    background-image: linear-gradient(to right, var(--color-accent) 33.33%, transparent 0%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150%;

    &::-moz-progress-bar {
      background-color: transparent;
    }
  }
}
